<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="public/logo.png"/>
            <strong>CoDat</strong>
        </div>
        <div class="link">
            <a href="#!">Trang chủ</a>
            <a href="#!">Cho thuê phòng trọ</a>
            <a href="#!">Tìm người ở ghép</a>
            <a href="#!">Tin tức</a>
        </div>
        <div class="button">
            <div class="like">
                <img src="public/heart_black.png"/>
                <p>4</p>
            </div>
            <div class="notification">
                <img src="public/notification_black.png"/>
                <p>12</p>
            </div>
            <div class="account">
                <img src="public/Avatar.png"/>
                <p>Thanh Trâm</p>
                <img src="public/down.png"/>
                <div class="display">
                    <div class="register">
                        <h3>Đăng kí làm người cho thuê</h3>
                        <div class="register-inf">
                            <div class="inf">
                                <p>Để được đăng tin cho thuê bất động sản</p>
                                <a href="../register-login/register-login.component.html" class="a-register">Đăng kí ngay</a>
                            </div>
                            <img src="public/house.png"/>
                        </div>
                    </div>
                    <button class="inf-group">
                        <img src="public/list_register.png"/>
                        <p>Quản lý tin đăng</p>
                    </button>
                    <button class="inf-group">
                        <img src="public/inf_register.png"/>
                        <p>Thay đổi thông tin cá nhân</p>
                    </button>
                    <button class="inf-group">
                        <img src="public/password_register.png"/>
                        <p>Thay đổi mật khẩu</p>
                    </button>
                    <button class="logout">
                        <p>Đăng xuất</p>
                        <img src="public/logout.png"/>
                    </button>
                </div>
            </div>
            <button class="upload">Đăng tin</button>
        </div>
    </nav>

    <div class="body">
        <div class="inf-room">
            <div class="img">
                <div class="main">
                    <img src={{img_main}}/>
                    <button class="left" (click)="ChangeImgLeft()">
                        <img src="public/left-arrow.png"/>
                    </button>
                    <button (click)="ChangeImgRight()">
                        <img src="public/right-arrow.png"/>
                    </button>
                </div>
                <div class="extra">
                    <div *ngFor="let img of images.slice(0, 4)">
                        <img src="{{img}}"/>
                    </div>
                </div>
            </div>
            <div class="intro">
                <strong>Cần 2 bạn nam ở ghép, đầy đủ nội  Chỉ hơn 1 triệu/tháng. Giải pháp tối ưu cho tài chính của bạn</strong>
            </div>
            <div class="address">
                <img src="public/placeholder.png"/>
                <p>Cầu Giấy, Hà Nội</p>
            </div>
            <div class="detail">
                <div class="detail-content">
                    <div class="price">
                        <img src="public/best-price.png"/>
                        <p>10 triệu/tháng</p>
                    </div>
                    <div class="acreage">
                        <img src="public/area.png"/>
                        <p>40m2</p>
                    </div>
                    <div class="bedroom">
                        <img src="public/oclock.png"/>
                        <p>2 ngày trước</p>
                    </div>
                </div>
            </div>
            <div class="description">
                <strong>Thông tin mô tả</strong>
                <p id="des">Giảm sốc: 200.000Đ/ 2 tháng đầu tiên - khi ký 1 năm trong T6/2024.
                    - Điện: 4k/kwh, nước: Free, phí DV: 50k/giường.- Free: Wifi, giữ xe, máy giặt.- Cửa sổ lớn thoáng mát, đảm bảo đón nắng, giường, nệm, máy lạnh,...
                    - Có hệ thống máy giặt, giàn phơi cao cấp.
                    - Có chỗ để xe an toàn, cửa cuốn 2 lớp.
                    - Hệ thống khoá cửa vân tay, camera an ninh 24/24.
                    - Giờ giấc tự do, không chung chủ.
                    - Mới mẻ, sạch sẽ, sang xịn, không ẩm thấm. Chất lượng dịch vụ tiêu chuẩn.
                </p>
            </div>
            <div class="features">
                <strong>Đặc điểm tin đăng</strong>
                <div class="item">
                    <p>Mã tin</p>
                    <p>#058435</p>
                </div>
                <div class="item">
                    <p>Loại tin </p>
                    <p>Tìm người ở ghép</p>
                </div>
                <div class="item">
                    <p>Ngày đăng</p>
                    <p>06/06/2024</p>
                </div>
            </div>
            <div class="features">
                <strong>Thông tin liên hệ</strong>
                <div class="item">
                    <p>Liên hệ</p>
                    <p>Trần Văn Dụ</p>
                </div>
                <div class="item">
                    <p>Số điện thoại</p>
                    <p>0912375836</p>
                </div>
                <div class="item">
                    <p>Zalo</p>
                    <p>0912375836</p>
                </div>
            </div>
        </div>

        <div class="inf-user">
            <div class="inf">
                <img src="public/Avatar.png"/>
                <p>Trần Văn Dụ</p>
            </div>
            <button class="tel" (click)="callPhoneNumber('0912375836')">
                <img src="public/telephone.png"/>
                <p>0912375836</p>
            </button>
            <button class="zalo" (click)="openZaloMessage('0912375836')">
                <img src="public/zalo-logo.png"/>
                <p>Chat qua Zalo</p>
            </button>
        </div>
    </div>

</body>
</html>