:root{
    --primary-color: #55B3D9;
    --second-color: rgb(160, 217, 244);
}

i{
    font-size: 24px;
    font-weight: 600;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header{
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 999;
}

.header-contain{
    top: 0;
    margin-top: -25px;
    height: 150px;
    background: #fff;
}

.navbar{
    top: 0;
    width: 100%;
    display: flex;
}

.icon{
    display: flex;
    gap: 20px;
    align-items: center;
}

.icon .item i{
    position: absolute;
}

.icon .item>span{
    position: relative;
    top: -12px;
    left: 12px;
    background: var(--primary-color);
    border-radius: 50%;
    text-align: center;
    width: 25px;
    height: 25px;
}

.icon .name{
    display: flex;
    align-items: center;
}

.icon .name>p{
    margin-top: 12px;
}

.icon .name a{
    text-align: center;
}

.icon .display{
    display: none;
    position: absolute;
    width: 300px;
    top: 70px;
    margin-left: -120px;
    z-index: 2;
    background: #FFF;
    border: 1px solid rgb(233, 232, 232);
    border-radius: 20px;
    height: 350px;
}

.icon .name:hover .display{
    display: block;
}

.icon .name .register{
    background: linear-gradient(180deg, #74C6DB 4.35%, #3E6A75 85.96%);
    margin-top: -20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.icon .name .register h3{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    color: #fff;
}

.icon .name .register-inf{
    display: flex;
    margin-left: 0px;
    margin-top: -40px;
    padding-left: 20px;
    padding-right: 20px;
}

.icon .name .register-inf img{
    width: 130px;
    height: 130px;
    margin-left: -12px;
    margin-top: 55px;
}

.icon .name .register-inf .inf p{
    width: 140px;
    color: #fff;
    margin-top: 40px;
}
.icon .name .inf-group{
    display: flex;
    align-items: center;
    height: 30px;
    width: 250px;
    margin-left: 20px;
    margin-top: 10px;
    background: #fff;
    border: none;
    transition: all ease 0.3s;
    border-bottom: 1px solid rgb(233, 232, 232);
    padding-bottom: 10px;
}
.icon .name .inf-group p{
    margin-top: 13px;
    margin-left: 5px;
}

.icon .name .inf-group:hover{
    cursor: pointer;
    color: var(--primary-color);
}

.icon .name .logout{
    display: flex;
    gap: 10px;
    height: 40px;
    margin-top: 10px;
    margin-left: 120px;
}

.body{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 100px;
}

.body img{
    width: 15px;
    height: 15px;
}

.body .inf-room .img img{
    border-radius: 5px;
}

.body .inf-room .img .main{
    position: relative;
}

.body .inf-room .img .main button{
    width: 30px;
    height: 30px;
    position: absolute;
    top: 45%;
    left: 90%;
    background: none;
    border-radius: 5px;
    border: .5px solid rgb(234, 233, 233);
    transition: all ease .5s;
}

.body .inf-room .img .main button>img{
    width: 20px;
    height: 20px;
    margin-top: -2px;
}

.body .inf-room .img .main button:hover{
    cursor: pointer;
    background: rgb(234, 233, 233);
}

.body .inf-room .img .main img{
    width: 100%;
    height: 450px;
}

.body .inf-room .img .extra{
    display: flex;
    margin-left: -10px;
    gap:1%;
}

.body .inf-room .img .extra img{
    display: block;
    width: 100%;
    height: 130px;
    margin-left: 10px;
}

.body .inf-room .intro{
    margin-left: 10px;
    font-size: 24px;
    margin-top: 10px;
    width: 700px;
}

.body .inf-room .intro h3{
    width: 50vw;
}

.body .inf-room .address{
    display: flex;
    margin-left: 10px;
    border-bottom: 1px solid rgb(234, 233, 233);
}

.body .inf-room .address p{
    margin-top: 25px;
}

.body .inf-room .address img{
    margin-top: 5px;
}

.body .inf-room .detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    padding-right: 10px;
    border-bottom: 1px solid rgb(234, 233, 233);
}

.body .inf-room .detail .detail-content{
    display: flex;
    margin-left: 10px;
    gap: 40px;
}

.body .inf-room .detail .detail-content p{
    margin-top: 5px;
    color: var(--primary-color);
}

.body .inf-room .detail .detail-icon img{
    width: 20px;
    height: 20px;
}

.body .inf-room .detail .detail-icon>button{
    width: 20px;
    height: 20px;
    background: #FFF;
    border: none;
}

.body .inf-room .detail .detail-icon>button:first-child{
    margin-right: 30px;
}

.body .inf-room .detail .detail-icon img{
    margin-left: -7px;
    margin-top: -3px;
}

.body .inf-room .detail .detail-icon img:hover{
    cursor: pointer;
}

.body .inf-room .description{
    margin-left: 10px;
    margin-top: 30px;
    width: 700px;
}

.body .inf-room .description p{
    margin-top: 5px;
    width: 50vw;
}

.body .inf-room .features{
    padding-left: 10px;
    margin-top: 30px;
} 

.body .inf-room .features .item{
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-right: 200px;
    gap: 40px;
    border-top: 1px solid rgb(234, 233, 233);
}

.body .inf-room .features .item p{
    width: 100px;
    margin-top: 15px;
}

.body .inf-room .features .item:first-child p{
    margin-top: 10px;
    color: #55B3D9;
}

.body .inf-room .time-type{
    display: flex;
    padding-left: 50px;
    padding-right: 150px;
    justify-content: space-between;
    border-top: 1px solid rgb(234, 233, 233);
    border-bottom: 1px solid rgb(234, 233, 233);
    padding-bottom: 10px;
}

.body .inf-room .time-type .item{
    text-align: center;
}

.body .inf-room .time-type .item strong{
    width: 200px;
}

.body .inf-user{
    border: 1px solid rgb(234, 233, 233);
    padding: 20px 40px;
    height: 250px;
    margin-left: 50px;
    border-radius: 10px;
}

.body .inf-user .inf{
    text-align: center;
}

.body .inf-user .inf img{
    height: 100px;
    width: 100px;
}

.body .inf-user .inf p{
    font-weight: 600;
}

.body .inf-user button{
    display: flex;
    padding: 0 20px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    background: #fff;
    font-weight: 600;
    margin-top: 20px;
    transition: all ease .5s;
}

.body .inf-user button.tel{
    background: var(--primary-color);
    color: #fff;
}

.body .inf-user button.tel:hover,
.body .inf-user button.zalo:hover{
    cursor: pointer;
    color: grey;
    background: var(--second-color);
    border: 1px solid var(--second-color);
}

.body .inf-user button img{
    margin-top: 5px;
}

.body .inf-user button p{
    margin-left: 5px;
    width: 120px;
}

@media (max-width: 991px){
    .inf-user {
        position: fixed;
        bottom: 0;
        width: 80%;
        gap: 5%;
        background-color: #fff;
        border-top: 1px solid #ddd;
        z-index: 1000;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: space-around;
        text-align: left;
        height: 100px !important;
        /* margin-left: 100px; */
    }

    .inf-user .inf img{
        max-width: 30px;
        max-height: 30px;
        height: 30px;
    }

    .inf-user .button{
        margin-top: -20px;
        display: flex;
        gap:5%;
        text-align: center;
    }

    .inf-user .button button{
        width: 160px;
    }

    .inf-user .button button img{
        margin-left: -10px;
    }

    .body{
        width: 100%;
        margin-left: 5%;
        padding-bottom: 100px;
    }

    .body .inf-room .time-type{
        display: block;
        float: left;
        margin-left: 0;
        width: 90vw;
    }

    .body .inf-room .time-type .item{
        display: flex;
        gap: 30px;
    }

    .body .inf-room .time-type .item p{
        width: 150px;
        text-align: left;
    }

    .body .inf-room{
        width: 90vw;
    }

    .body .inf-room .description p{
        width: 80vw;
    }

    .body .inf-room .intro h3{
        width: 80vw;
    }
}

@media (max-width: 600px){
    .inf-user {
        position: fixed;
        bottom: 0;
        width: 80%;
        gap: 5%;
        background-color: #fff;
        border-top: 1px solid #ddd;
        z-index: 1000;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
        display: block;
        justify-content: space-around;
        text-align: center;
        height: 130px !important;
    }

    .inf-user .button{
        margin-top: -20px;
        display: flex;
        gap:5%;
        text-align: center;
    }

    .inf-user .button button{
        width: 170px;
    }

    .body{
        padding-bottom: 130px;
    }
}