<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
</head>
<body>
    <nav class="navbar">
        <div class="channel">
            <div class="logo">
                <img src="public/logo.png" alt="Logo"/>
                <strong>CoDat</strong>
            </div>
            <div class="inf">
                <button>
                    <img src="public/notification.png"/>
                </button>
                <button>
                    <img src="public/chat.png"/>
                </button>
                <button>
                    <img src="public/list.png"/>
                    <p>Quản lý tin</p>
                </button>
                <button>
                    <img src="public/user.png"/>
                    <p>Tài khoản</p>
                    <img src="public/down.png"/>
                </button>
            </div>
            <div class="up">
                <button>
                    <img src="public/edit.png"/>
                    <p>ĐĂNG TIN</p>
                </button>
            </div>
        </div>
        <div class="page">
            <a href="#!">Trang chủ</a>
            <a href="#!">Cho thuê phòng trọ</a>
            <a href="#!">Nhà cho thuê</a>
            <a href="#!">Cho thuê căn hộ</a>
            <a href="#!">Tìm người ở ghép</a>
            <a href="#!">Bảng giá dịch vụ</a>
        </div>
        <div class="search">
            <div class="option">
                <button>
                    <img src="public/building.png"/>
                    <p>Phòng trọ, nhà trọ</p>
                    <img src="public/cross.png"/>
                </button>
                <button>
                    <img src="public/placeholder.png"/>
                    <p>Quy Nhơn</p>
                    <img src="public/cross.png"/>
                </button>
                <button>
                    <img src="public/best-price.png"/>
                    <p>Chọn giá</p>
                    <img src="public/right-arrow.png"/>
                </button>
                <button>
                    <img src="public/area.png"/>
                    <p>Chọn diện tích</p>
                    <img src="public/right-arrow.png"/>
                </button>
                <button>
                    <img src="public/search.webp"/>
                    <p>Tìm kiếm</p>
                </button>
            </div>
        </div>
    </nav>

    <div class="body">
        <div class="rent">
            <p>Cho thuê Bất động sản</p>
            <div class="detail">
                <div class="item">
                    <div class="img">
                        <img class="main" src="public/ha_vd2.jpg"/>
                        <img class="count" src="public/cmr.png"/>
                        <p>1</p>
                        <img class="heart" src="public/heart.png"/>
                    </div>
                    <div class="inf">
                        <p class="des">
                            Cho thuê căn hộ chung cư Nhơn Bình 3 phòng ngủ, 1 phòng khách, đối diện trường trung học, gần chợ
                        </p>
                        <p class="acreage">
                            80m<sup>2</sup> - 3PN
                        </p>
                        <p class="fee">
                            4,5 triệu/tháng
                        </p>
                    </div>
                    <div class="time">
                        <img src="public/Avatar.png"/>
                        <p>2 Giờ Trước</p>
                        <p>Bình Định</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img">
                        <img class="main" src="public/ha_vd3.jpg"/>
                        <img class="count" src="public/cmr.png"/>
                        <p>6</p>
                        <img class="heart" src="public/heart.png"/>
                    </div>
                    <div class="inf">
                        <p class="des">
                            Cho thuê nhà mặt tiền đường Nguyễn Huệ gần Quảng Trường Chiến Thắng gồm 2 phòng ngủ, 1 phòng khách, gần trường học.
                        </p>
                        <p class="acreage">
                            120m<sup>2</sup> - 2PN
                        </p>
                        <p class="fee">
                            7 triệu/tháng
                        </p>
                    </div>
                    <div class="time">
                        <img src="public/Avatar.png"/>
                        <p>Hôm qua</p>
                        <p>Bình Định</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img">
                        <img class="main" src="public/ha_vd3.jpg"/>
                        <img class="count" src="public/cmr.png"/>
                        <p>6</p>
                        <img class="heart" src="public/heart.png"/>
                    </div>
                    <div class="inf">
                        <p class="des">
                            Cho thuê nhà mặt tiền đường Nguyễn Huệ gần Quảng Trường Chiến Thắng gồm 2 phòng ngủ, 1 phòng khách, gần trường học.
                        </p>
                        <p class="acreage">
                            120m<sup>2</sup> - 2PN
                        </p>
                        <p class="fee">
                            7 triệu/tháng
                        </p>
                    </div>
                    <div class="time">
                        <img src="public/Avatar.png"/>
                        <p>Hôm qua</p>
                        <p>Bình Định</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img">
                        <img class="main" src="public/ha_vd3.jpg"/>
                        <img class="count" src="public/cmr.png"/>
                        <p>6</p>
                        <img class="heart" src="public/heart.png"/>
                    </div>
                    <div class="inf">
                        <p class="des">
                            Cho thuê nhà mặt tiền đường Nguyễn Huệ gần Quảng Trường Chiến Thắng gồm 2 phòng ngủ, 1 phòng khách, gần trường học.
                        </p>
                        <p class="acreage">
                            120m<sup>2</sup> - 2PN
                        </p>
                        <p class="fee">
                            7 triệu/tháng
                        </p>
                    </div>
                    <div class="time">
                        <img src="public/Avatar.png"/>
                        <p>Hôm qua</p>
                        <p>Bình Định</p>
                    </div>
                </div>
                <div class="item">
                    <div class="img">
                        <img class="main" src="public/ha_vd3.jpg"/>
                        <img class="count" src="public/cmr.png"/>
                        <p>6</p>
                        <img class="heart" src="public/heart.png"/>
                    </div>
                    <div class="inf">
                        <p class="des">
                            Cho thuê nhà mặt tiền đường Nguyễn Huệ gần Quảng Trường Chiến Thắng gồm 2 phòng ngủ, 1 phòng khách, gần trường học.
                        </p>
                        <p class="acreage">
                            120m<sup>2</sup> - 2PN
                        </p>
                        <p class="fee">
                            7 triệu/tháng
                        </p>
                    </div>
                    <div class="time">
                        <img src="public/Avatar.png"/>
                        <p>Hôm qua</p>
                        <p>Bình Định</p>
                    </div>
                </div>
            </div>
            <div class="all">
                <a href="#!">Xem thêm 125.382 tin khác
                    <img src="public/right-arrow.png"/>
                </a>
            </div>
        </div>
    </div>

    <footer>
        <div class="app">
            <div class="search">
                <h4>TÌM BẤT ĐỘNG SẢN TRÊN ỨNG DỤNG CHỢ TỐT</h4>
                <div class="img">
                    <div class="qr-code">
                        <img src="public/qr-code.png"/>
                    </div>
                    <div class="link">
                        <button class="item">
                            <img src="public/apple-logo.png"/>
                            <div class="inf">
                                <p>Download on the</p>
                                <p>App Store</p>
                            </div>
                        </button>
                        <button class="item">
                            <img src="public/google-play.png"/>
                            <div class="inf">
                                <p>AIDROID APP ON</p>
                                <p>Google play</p>
                            </div>
                        </button>
                        <button class="item">
                            <img src="public/wallpaper.png"/>
                            <div class="inf">
                                <p>EXPLORE IT ON</p>
                                <p>AppGallery</p>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="good">
                <h4>VỀ NHÀ TỐT</h4>
                <div class="link">
                    <a href="#!">Về nhà tốt</a>
                    <a href="#!">Quy chế hoạt động</a>
                    <a href="#!">Chính sách bảo mật</a>
                    <a href="#!">Điều khoản sử dụng</a>
                </div>
            </div>
            <div class="social">
                <h4>LIÊN KẾT</h4>
                <div class="img">
                    <button>
                        <img src="public/facebook.png"/>
                    </button>
                    <button>
                        <img src="public/youtube.png"/>
                    </button>
                    <button>
                        <img src="public/linkedin.png"/>
                    </button>
                </div>
                <h4>CHỨNG NHẬN</h4>
                <div class="logo">
                    <button>
                        <img src="public/complete.png"/>
                    </button>
                </div>
            </div>
        </div>
        <div class="inf">
            <p>Tổng đài CSKH: 0947385848</p>
            <p>Copyright &copy 2021-2025</p>
            <p>Email: cskh.thuephongtro&#64;gmail.com</p>
            <p>Địa chỉ: Đại lộ khoa học Quy Nhơn, Thành phố Quy Nhơn, Tỉnh Bình Định, Việt Nam</p>
        </div>
    </footer>
</body>
</html>