<div class="grid-container">
  <div class="item1">
    <app-navbar (logoClick)="ToggleMenu()"></app-navbar>
  </div>
  <nav *ngIf="showMenu">
      <div class="item2">
        <div class="menu-child">
          <div class="user">
            <li class="avta"></li>
            <li>{{name}}</li>
          </div>
          <div class="list">
            <p class="a2"><img src="public/user.png"><span>Quản lý tin đăng</span></p>
            <a class="a1" routerLink="post-for-roommate" routerLinkActive="active-link"><span>Đăng tin mới</span></a>
            <a class="a1" routerLink="news-list" routerLinkActive="active-link"><span>Danh sách tin đăng</span></a>
            <p class="a2"><img src="public/list.png"><span>Quản lý tài khoản</span></p>
            <a class="a1" routerLink="edit-profile" routerLinkActive="active-link"><span>Chỉnh sửa hồ sơ</span></a>
            <a class="a1" routerLink="change-password" routerLinkActive="active-link"><span>Thay đổi mật khẩu</span></a>
            <a class="a1" routerLink="register-owner" routerLinkActive="active-link"><span>ĐK làm người cho thuê</span></a>
          </div>
        </div>
      </div>
  </nav>
  <div class="item3">
    <router-outlet></router-outlet>
  </div>
  <div class="item4">  
    <!-- <app-footer></app-footer> -->
  </div>
</div>
  

   