
<div class="content_header">
    <h1>Danh sách tin </h1>
    <!-- [(ngModel)]="searchText" được thêm vào để liên kết giá trị của
      ô nhập liệu với thuộc tính searchText trong component. -->
      <div class="row g-3 align-items-center">
        <div class="col-9 col-md-3">
          <div class="input-group">
            <button class="input-group-text" id="search-icon" (click)="onSearchClick()">
              <i class="bi bi-search"></i>
            </button>
            <input type="search" class="form-control" placeholder="Search" aria-label="Search" aria-describedby="search-icon" [(ngModel)]="searchText">
          </div>
        </div>
        
          <div class="col-4 col-md-2">
            <div class="input-group">
              <span class="input-group-text" id="calendar-icon">
                <i class="bi bi-calendar3"></i>
              </span>
              <select id="inputDay" class="form-select">
                <option value="" selected disabled>Mặc định</option>
                <!-- Add options here -->
              </select>
            </div>
          </div>
          <div class="col-3 col-md-2">
            <div class="input-group">
              <span class="input-group-text" id="filter-icon">
                <i class="bi bi-list-ul"></i>
              </span>
              <select id="inputFilter_type" class="form-select">
                <option value="" selected disabled>Lọc tin đã đăng</option>
                <!-- Add options here -->
              </select>
            </div>
          </div>
      </div>
    <div class="classify">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active" href="#">Đang hiển thị</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Đã ẩn</a>
        </li>
      </ul>
    </div>
    </div>
    <div *ngFor="let card of cards" class="card mb-3" [ngClass]="'card' + card.id">
        <div class="row g-0 content_body">
          <div class="col-12 col-md-4">
            <img src="public/anh1.png" class="img-fluid rounded-start">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <div class="row mb-2 gr-text">
                <span class="col-3 col-md-2">Cho thuê </span>
                <h1 class="col-md-9 card-title">{{card.title}}</h1>
              </div>
                <p class="card-text"><i class="bi bi-geo-alt"></i> {{card.address}}</p>
                <div class="row g-2">
                <p class="col-5 col-md-4 card-text text_custom">{{card.price}} triệu/tháng</p>
                <p class="col-3 col-md-2 card-text text_custom">{{card.size}}</p>
                </div>
                <div class="row g-0 gr_status " >
                <div class="col-3 col-md-2">
                  <p class="card-text">Mã tin</p>
                  <p class="card-text">{{ card.code }}</p>
                </div>
                <div class="col-4 col-md-3">
                  <p class="card-text">Ngày đăng</p>
                  <p class="card-date">{{ card.date }}</p>
                </div>
                <div class="col-4 col-md-3">
                  <p class="card-text">Trạng thái</p>
                  <p [ngClass]="{'text-danger': card.isHidden}" class="card-text text_status">{{ card.status }}
                </div>
                
                  <div class="col-10 col-md-4 d-flex justify-content-end gr-btn">
                    <button *ngIf="!card.isHidden" type="button" class="btn btn1" (click)="hideItem(card.id)">
                      <span>Ẩn tin </span>
                      <i class="bi bi-eye-slash"></i>
                    </button>
                    <button *ngIf="!card.isHidden" type="button" class="btn btn1" (click)="editItem(card.id)">
                      <span>Sửa tin </span>
                      <i class="bi bi-pencil"></i>
                    </button>
                    <button *ngIf="card.isHidden" type="button" class="btn btn1" (click)="repostItem(card.id)">
                      <span>Đăng lại </span>
                      <i class="bi bi-arrow-repeat"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    
    
    
    
    
    
    
      <!-- <div *ngFor="let card of cards" class="card mb-3" [ngClass]="'card' + card.id">
        <div class="row g-0">
          <div class="col-12 col-md-4">
            <img src="public/anh1.png" class="img-fluid rounded-start">
          </div>
           
          <div class="col-md-8">
            <div class="card-body">
              <div class="row mb-2 gr-text2">
                <span class="col-3 col-md-2">Tìm người </span>
                <h1 class="col-md-9 card-title">Quỹ căn cho thuê từ 1PN - 4PN giá rẻ chỉ 2PN giá chỉ 13 tr/tháng</h1>
              </div>
                <p class="card-text"><i class="bi bi-geo-alt"></i> Cầu giấy, Hà Nội</p>
                <div class="row g-2">
                <p class="col-5 col-md-4 card-text text_custom">10 triệu/tháng</p>
                <p class="col-3 col-md-2 card-text text_custom">40m<sup>2</sup></p>
                </div>
                <div class="row g-0 gr_status " >
                <div class="col-3 col-md-2">
                  <p class="card-text">Mã tin</p>
                  <p class="card-text">743562</p>
                </div>
                <div class="col-4 col-md-3">
                  <p class="card-text">Ngày đăng</p>
                  <p class="card-date">7/5/2024</p>
                </div>
                <div class="col-4 col-md-3">
                  <p class="card-text">Trạng thái</p>
                  <p class="card-text text_status">Đang hiển thị</p>
                </div>
                <div class="col-10 col-md-4 d-flex justify-content-end gr-btn">
                  <button *ngIf="!card.isHidden" type="button" class="btn btn1" (click)="hideItem(card.id)">
                    <span>Ẩn tin </span>
                    <i class="bi bi-eye-slash"></i>
                  </button>
                  <button *ngIf="!card.isHidden" type="button" class="btn btn1" (click)="editItem(card.id)">
                    <span>Sửa tin </span>
                    <i class="bi bi-pencil"></i>
                  </button>
                  <button *ngIf="card.isHidden" type="button" class="btn btn1" (click)="repostItem(card.id)">
                    <span>Đăng lại </span>
                    <i class="bi bi-eye"></i>
                  </button>
                </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
     
       -->