<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="logo container-fluid">
            <a class="navbar-brand" routerLink="/home" (click)="onLogoClick()">
                <img src="public/logo.png"/>
                <strong>CoDat</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="homepage" routerLinkActive="active-link">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="thuephong_home" routerLinkActive="active-link">Cho thuê phòng trọ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="timoghep_home" routerLinkActive="active-link">Tìm người ở ghép</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="tintuc_home" routerLinkActive="active-link">Tin tức</a>
                    </li>
                </ul>
                <!-- <div class="d-flex">
                    <div class="me-3 icon">
                        <div class="item">
                            <i class="bi bi-heart"></i>
                            <span class="badge bg-danger">4</span>
                        </div>
                        <div class="item">
                            <i class="bi bi-bell"></i>
                            <span class="badge bg-danger">18</span>
                        </div>
                        <div class="name">
                            <img src="public/Avatar.png"/>
                            <p class="">Thanh Trâm</p>
                                <div class="display">
                                    <div class="register">
                                        <h3>Đăng kí làm người cho thuê</h3>
                                        <div class="register-inf">
                                            <div class="inf">
                                                <p>Để được đăng tin cho thuê bất động sản</p>
                                                <button class="btn btn-primary">Đăng kí ngay</button>
                                            </div>
                                            <img src="public/house.png"/>
                                        </div>
                                    </div>
                                    <button class="inf-group">
                                        <img src="public/list_register.png"/>
                                        <p>Quản lý tin đăng</p>
                                    </button>
                                    <button class="inf-group">
                                        <img src="public/inf_register.png"/>
                                        <p>Thay đổi thông tin cá nhân</p>
                                    </button>
                                    <button class="inf-group">
                                        <img src="public/password_register.png"/>
                                        <p>Thay đổi mật khẩu</p>
                                    </button>
                                    <button class="btn btn-primary logout">
                                        <p>Đăng xuất</p>
                                        <img src="public/logout.png"/>
                                    </button>
                                </div>
                        </div>
                    </div>
                    <div class="account d-flex align-items-center">
                        <button class="btn btn-primary">Đăng tin</button>
                    </div>
                </div> -->
        </div>
        </div>
    </nav>
  </div>
  
  
  
  
  <!-- <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Codat</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" href="#">Trang chủ</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Cho thuê phòng trọ</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Tìm người ở ghép</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Tin tức</a>
                </li>
              </ul>
            </div>
            <div class="button">
              <div class="like">
                  <img src="public/heart_black.png"/>
                  <span class="badge text-bg-primary rounded-pill">14</span>
                  
              </div>
              <div class="notification">
                  <img src="public/notification_black.png"/>
                  <span class="badge text-bg-primary rounded-pill">14</span>
              </div>
              <div class="account">
                  <img src="public/Avatar.png"/>
                  <p>Thanh Trâm</p>
                  <img src="public/down.png"/>
                  <div class="display">
                      <div class="register">
                          <h3>Đăng kí làm người cho thuê</h3>
                          <div class="register-inf">
                              <div class="inf">
                                  <p>Để được đăng tin cho thuê bất động sản</p>
                                  <button class="button-register">Đăng kí ngay</button>
                              </div>
                              <img src="public/house.png"/>
                          </div>
                      </div>
                      <button class="inf-group">
                          <img src="public/list_register.png"/>
                          <p>Quản lý tin đăng</p>
                      </button>
                      <button class="inf-group">
                          <img src="public/inf_register.png"/>
                          <p>Thay đổi thông tin cá nhân</p>
                      </button>
                      <button class="inf-group">
                          <img src="public/password_register.png"/>
                          <p>Thay đổi mật khẩu</p>
                      </button>
                      <button class="logout">
                          <p>Đăng xuất</p>
                          <img src="public/logout.png"/>
                      </button>
                  </div>
              </div>
              <button class="upload">Đăng tin</button>
          </div>
          </div>
        </nav>
  </body> -->