<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In/Up Form</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body *ngIf="!isLoggedIn">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="logo container-fluid">
            <a class="navbar-brand" href="#">
                <img src="public/logo.png"/>
                <strong>CoDat</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="link collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#!">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a href="#!" class="nav-link">Cho thuê phòng trọ</a>
                    <li class="nav-item">
                        <a href="#!" class="nav-link">Tìm người ở ghép</a>
                    </li>
                    <li class="nav-item">
                        <a href="#!" class="nav-link">Tin tức</a>
                    </li>
                </ul>
                <div class="d-flex">
                    <button class="login signin">Đăng nhập</button>
                    <!-- <button class="register" [ngClass]="{'signup': !isSign, 'nosign': isSign}" id="signUp">Đăng ký</button> -->
                    <button class="upload">Đăng tin</button>
                </div>
        </div>
        </div>
    </nav>
        <img class="pic1" src="public/background-register1.png"/>
        <img class="pic2" src="public/background-register2.png"/>
        <img class="user" src="public/user-register.png"/>
    
    <div class="content">
        <div class="container" id="container">
            <div class="form-container sign-up-container">
                <form action="#">
                    <h1>Tạo Tài Khoản</h1>
                    <div class="social-container">
                        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <span>hoặc sử dụng email của bạn để đăng ký</span>
                        <!-- <input type="text" placeholder="Họ tên" required/> -->
                        <div class="item">
                            <label for="name" [ngClass]="{ 'empty': name === '', 'isname': isName}">Họ tên</label>
                            <input id="name" type="text" (focus)="onFocusName()" [formControl]="nameFormControl" [(ngModel)]="name" required />
                            <mat-error style="font-size: 12px;" *ngIf="nameFormControl.hasError('required')  && (nameFormControl.dirty || nameFormControl.touched)">
                                Name is <strong>required</strong>
                            </mat-error>
                            <mat-error style="font-size: 12px" *ngIf="nameFormControl.hasError('minlength')">
                                Name must be at least 10 characters
                            </mat-error>
                        </div>
                        <div class="item">
                            <label for="email" [ngClass]="{ 'empty': email==='','isemail': isEmail}">Email</label>
                            <input id="email" type="email" (focus)="onFocusEmail()" [formControl]="emailFormControl" [(ngModel)]="email" required />
                            <mat-error style="font-size: 12px" *ngIf="emailFormControl.hasError('required')  && (emailFormControl.dirty || emailFormControl.touched)">
                                Email is <strong>required</strong>
                            </mat-error>
                            <mat-error style="font-size: 12px" *ngIf="emailFormControl.hasError('email')">
                                Please enter a valid email address
                            </mat-error>
                        </div>
                        <!-- <input type="tel" placeholder="Số điện thoại" required/> -->
                        <div class="item">
                            <label for="phone" [ngClass]="{ 'empty': phone === '', 'isphone': isPhone}">Số điện thoại</label>
                            <input id="phone" type="tel" (focus)="onFocusPhone()" [formControl]="phoneFormControl" [(ngModel)]="phone" required />
                            <mat-error style="font-size: 12px" *ngIf="phoneFormControl.hasError('required')  && (phoneFormControl.dirty || phoneFormControl.touched)">
                                Phone is <strong>required</strong>
                            </mat-error>
                            <mat-error style="font-size: 12px" *ngIf="phoneFormControl.hasError('pattern')">
                                Please enter a valid phone
                            </mat-error>
                        </div>
                        <!-- <input type="text" placeholder="Địa chỉ" required/> -->
                        <div class="item">
                            <label for="address" [ngClass]="{ 'empty': address === '', 'isaddress': isAddress}">Địa chỉ</label>
                            <input id="address" type="text" (focus)="onFocusAddress()" [formControl]="addressFormControl" [(ngModel)]="address" required />
                            <mat-error style="font-size: 12px" *ngIf="addressFormControl.hasError('required')  && (addressFormControl.dirty || addressFormControl.touched)">
                                Address is <strong>required</strong>
                            </mat-error>
                            <mat-error style="font-size: 12px; margin-top: -13px;" *ngIf="addressFormControl.hasError('minlength')">
                                Address must be at least 5 characters
                            </mat-error>
                        </div>
                        <!-- <input type="password" placeholder="Mật khẩu" required/> -->
                        <div class="item">
                            <label for="password" [ngClass]="{ 'empty': password === '', 'ispassword': isPassword}">Mật khẩu</label>
                            <input id="password" type="text" (focus)="onFocusPassword()" [formControl]="passwordFormControl" [(ngModel)]="password" required />
                            <mat-error style="font-size: 12px; margin-top: -13px;" *ngIf="passwordFormControl.hasError('required')  && (passwordFormControl.dirty || passwordFormControl.touched)">
                                Password is <strong>required</strong>
                            </mat-error>
                            <mat-error style="font-size: 12px; margin-top: -13px;" *ngIf="passwordFormControl.hasError('minlength')">
                                Password must be at least 6 characters
                            </mat-error>
                        </div>
                        <button type="button">ĐĂNG KÝ</button>
                </form>
            </div>
            <div class="form-container sign-in-container">
                <form action="#">
                    <h1>Đăng Nhập</h1>
                    <div class="social-container">
                        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <span>hoặc sử dụng email của bạn để đăng ký</span>
                <div class="form">
                    <!-- <div class="example-form">
                        <mat-form-field class="example-full-width">
                          <mat-label>Email</mat-label>
                          <input 
                            matInput 
                            type="email" 
                            [formControl]="emailFormControl"
                            placeholder="Enter your email">
                          <mat-error *ngIf="emailFormControl.hasError('required')">
                            Email is <strong>required</strong>
                          </mat-error>
                          <mat-error *ngIf="emailFormControl.hasError('email')">
                            Please enter a valid email address
                          </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="example-form">
                        <mat-form-field class="example-full-width">
                          <mat-label>Password</mat-label>
                          <input 
                            matInput 
                            [type]="hide ? 'password' : 'text'" 
                            [formControl]="passwordFormControl"
                            placeholder="Enter your password">
                          <mat-icon matSuffix (click)="toggleHide()">
                            {{ hide ? 'visibility_off' : 'visibility' }}
                          </mat-icon>
                          <mat-error *ngIf="passwordFormControl.hasError('required')">
                            Password is <strong>required</strong>
                          </mat-error>
                        </mat-form-field>
                    </div> -->
                    
                    <!-- <div class="item">
                        <label for="email" [ngClass]="{ 'empty': email==='',
                        'isemail': isEmail}">Email</label>
                        <input id="email" type="email" (focus)="onFocusEmail()" [(ngModel)]="email" required/>
                    </div> 
                    <div class="item">
                        <label for="password" [ngClass]="{ 'ispassword': isPassword && password==''}">Password</label>
                        <input id="password" type="password" (focus)="onFocusPassword()" [(ngModel)]="password" required/>
                    </div> -->
                
                    <div class="item">
                        <label for="email" [ngClass]="{ 'empty': email==='','isemail': isEmailLogin}">Email</label>
                        <input id="email" type="email" (focus)="onFocusEmailLogin()" [formControl]="emailloginFormControl" [(ngModel)]="emaillogin" required />
                        <mat-error style="font-size: 12px" *ngIf="emailloginFormControl.hasError('required')  && (emailloginFormControl.dirty || emailloginFormControl.touched)">
                            Email is <strong>required</strong>
                        </mat-error>
                        <mat-error style="font-size: 12px" *ngIf="emailloginFormControl.hasError('email')">
                            Please enter a valid email address
                        </mat-error>
                    </div>
                    <div class="item">
                        <label for="password" [ngClass]="{ 'empty': password === '', 'ispassword': isPasswordLogin}">Mật khẩu</label>
                        <input id="password" type="password" (focus)="onFocusPasswordLogin()" [formControl]="passwordloginFormControl" [(ngModel)]="passwordlogin" required />
                        <mat-error style="font-size: 12px; margin-top: -13px;" *ngIf="passwordloginFormControl.hasError('required')  && (passwordloginFormControl.dirty || passwordloginFormControl.touched)">
                            Password is <strong>required</strong>
                        </mat-error>
                        <mat-error style="font-size: 12px; margin-top: -13px;" *ngIf="passwordloginFormControl.hasError('minlength')">
                            Password must be at least 6 characters
                        </mat-error>
                    </div>
                </div>
                      
                    <a href="#!">Quên mật khẩu?</a>
                    <button type="button" (click)="buttonLogin()">ĐĂNG NHẬP</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Chào mừng trở lại</h1>
                        <p>Để duy trì kết nối bạn cần đăng nhập</p>
                        <button class="ghost" id="signIn" >ĐĂNG NHẬP</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Chào bạn!</h1>
                        <p>Bạn có thể bắt đầu cuộc hành trình của mình với chúng tôi</p>
                        <button class="ghost" id="signUp" >ĐĂNG KÝ</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
