<!-- Password change form -->
<form class="row g-3 form">
  <p>Thay đổi mật khẩu</p>
  <div class="classify">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" routerLink="/edit-profile">Chỉnh sửa hồ sơ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/change-password">Thay đổi mật khẩu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register-owner">Đăng kí làm người cho thuê</a>
      </li>
    </ul>
  </div>
  <hr>
  <div class="information row">
   <!-- Password Change Section -->
<div class="password-change-section">
  <h2>Đổi mật khẩu</h2>
  <div class="form-group col-12 col-md-6 pass1">
    <label for="currentPassword" class="col-form-label">Mật khẩu hiện tại</label>
    <div class="input-group">
      <input type="password" id="currentPassword" class="form-control" aria-label="Current Password">
      <span class="input-group-text">
        <i class="bi bi-eye-slash" title="Show/Hide Password" id="togglePassword1" (click)="togglePassword('currentPassword', 'togglePassword1')"></i>
      </span>
    </div>
  </div>
  <div class="form-group col-12 col-md-6 pass1">
    <label for="newPassword" class="col-form-label">Mật khẩu mới</label>
    <div class="input-group">
      <input type="password" id="newPassword" class="form-control" aria-label="New Password" (input)="validatePassword()">
      <span class="input-group-text">
        <i class="bi bi-eye-slash" title="Show/Hide Password" id="togglePassword2" (click)="togglePassword('newPassword', 'togglePassword2')"></i>
      </span>
    </div>
    <small id="passwordHelp" class="text-danger"></small>
  </div>
  <div class="form-group col-12 col-md-6 pass1">
    <label for="confirmPassword" class="col-form-label">Nhập lại mật khẩu</label>
    <div class="input-group">
      <input type="password" id="confirmPassword" class="form-control" aria-label="Confirm Password"(input)="validateConfirmPassword()">
      <span class="input-group-text">
        <i class="bi bi-eye-slash" title="Show/Hide Password" id="togglePassword3" (click)="togglePassword('confirmPassword', 'togglePassword3')"></i>
      </span>
    </div>
    <small id="confirmPasswordHelp" class="text-danger "></small>
  </div>
  </div>
</div> 
<div class="btn_submit">
    <button>Lưu thay đổi </button>
  </div>
</form>