<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="logo container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="public/logo.png"/>
                    <strong>CoDat</strong>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#!">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Cho thuê phòng trọ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tìm người ở ghép</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tin tức</a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <div class="me-3 icon">
                            <div class="item">
                                <i class="bi bi-heart"></i>
                                <span class="badge bg-danger">4</span>
                            </div>
                            <div class="item">
                                <i class="bi bi-bell"></i>
                                <span class="badge bg-danger">18</span>
                            </div>
                            <div class="name">
                                <img src="public/Avatar.png"/>
                                <p class="">Thanh Trâm</p>
                                    <div class="display">
                                        <div class="register">
                                            <h3>Đăng kí làm người cho thuê</h3>
                                            <div class="register-inf">
                                                <div class="inf">
                                                    <p>Để được đăng tin cho thuê bất động sản</p>
                                                    <button class="btn btn-primary">Đăng kí ngay</button>
                                                </div>
                                                <img src="public/house.png"/>
                                            </div>
                                        </div>
                                        <button class="inf-group">
                                            <img src="public/list_register.png"/>
                                            <p>Quản lý tin đăng</p>
                                        </button>
                                        <button class="inf-group">
                                            <img src="public/inf_register.png"/>
                                            <p>Thay đổi thông tin cá nhân</p>
                                        </button>
                                        <button class="inf-group">
                                            <img src="public/password_register.png"/>
                                            <p>Thay đổi mật khẩu</p>
                                        </button>
                                        <button class="btn btn-primary logout">
                                            <p>Đăng xuất</p>
                                            <img src="public/logout.png"/>
                                        </button>
                                    </div>
                            </div>
                        </div>
                        <div class="account d-flex align-items-center">
                            <button class="btn btn-primary">Đăng tin</button>
                        </div>
                    </div>
            </div>
            </div>
        </nav>
    </div>

    <div class="body">
        <div class="col-md-8 col-sm-12 inf-room">
            <div class="row img">
                <div class="col-12 main">
                    <img class="img-fluid" src={{img_main}}/>
                    <button (click)="ChangeImg()">
                        <img src="public/right-arrow.png"/>
                    </button>
                </div>
                <div class="col-12 extra d-flex justify-content-around">
                    <div *ngFor="let img of images.slice(0, 4)">
                        <img class="img-fluid" src="{{img}}"/>
                    </div>
                </div>
            </div>
            <div class="mt-3 intro">
                <h3>Quỹ căn cho thuê từ 1PN - 4PN giá rẻ chỉ 2PN giá chỉ 13 tr/tháng LH 0702 272634</h3>
            </div>
            <div class="mt-3 d-flex align-items-center address">
                <img src="public/placeholder.png"/>
                <p>Cầu Giấy, Hà Nội</p>
            </div>
            <div class="detail">
                <div class="detail-content">
                    <div class="price">
                        <strong>Mức giá</strong>
                        <p>10 triệu/tháng</p>
                    </div>
                    <div class="acreage">
                        <strong>Diện tích</strong>
                        <p>40m2</p>
                    </div>
                    <div class="bedroom">
                        <strong>Phòng ngủ</strong>
                        <p>3PN</p>
                    </div>
                </div>
                <div class="detail-icon">
                    <button (click)="Share()">
                        <!-- <img src="public/share.png"/> -->
                        <i class="bi bi-share"></i>
                    </button>
                    <button (click)="IsLike()">
                        <!-- <img [src]="like ? yes : no" /> -->
                        <i *ngIf="!like" class="bi bi-suit-heart"></i>
                        <i *ngIf="like" class="bi bi-suit-heart-fill" style="color: #55B3D9;"></i>
                    </button>
                </div>
            </div>
            <div class="description">
                <strong>Thông tin mô tả</strong>
                <p id="des">Căn 3 phòng ngủ diện tích rộng từ 96m². Kết cấu căn 3 phòng ngủ, 2 wc, 1 phòng khách, 1 lô gia, 1 ban công, 1 khu vực bếp. Có nội thất.</p>
            </div>
            <div class="features">
                <strong>Đặc điểm bất động sản</strong>
                <div class="item">
                    <img src="public/area.png"/>
                    <p class="text">Diện tích</p>
                    <p>40m<sup>2</sup></p>
                </div>
                <div class="item">
                    <img src="public/bed.png"/>
                    <p class="text">Số phòng ngủ</p>
                    <p>3 phòng</p>
                </div>
                <div class="item">
                    <img src="public/best-price.png"/>
                    <p class="text">Mức giá</p>
                    <p>10 triệu/tháng</p>
                </div>
            </div>
            <div class="col-md-12 time-type ">
                <div class="item">
                    <p>Ngày đăng</p>
                    <strong>04/06/2024</strong>
                </div>
                <div class="item">
                    <p>Loại bất động sản</p>
                    <strong>Phòng trọ</strong>
                </div>
                <div class="item">
                    <p>Mã tin</p>
                    <strong>#058435</strong>
                </div>
            </div>
        </div>

        <div class="inf-user">
            <div class="inf">
                <img src="public/Avatar.png"/>
                <p>Trần Văn Dụ</p>
            </div>
            <div class="button">
                <button class="tel" (click)="CallPhoneNumber('0912375836')">
                    <img src="public/telephone.png"/>
                    <p>0912375836</p>
                </button>
                <button class="zalo" (click)="OpenZaloMessage('0912375836')">
                    <img src="public/zalo-logo.png"/>
                    <p>Chat qua Zalo</p>
                </button>
            </div>
        </div>
    </div>

</body>
</html>