<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="public/logo.png"/>
            <strong>CoDat</strong>
        </div>
        <div class="link">
            <a href="#!">Trang chủ</a>
            <a href="#!">Cho thuê phòng trọ</a>
            <a href="#!">Tìm người ở ghép</a>
            <a href="#!">Tin tức</a>
        </div>
        <div class="button">
            <button class="login">Đăng nhập</button>
            <button class="register">Đăng ký</button>
            <button class="upload">Đăng tin</button>
        </div>
    </nav>

    <div class="body">
        <img class="pic1" src="public/background-register1.png"/>
        <img class="pic2" src="public/background-register2.png"/>
        <img class="user" src="public/user-register.png"/>
        <div class="table">
            <div class="table-left">
                <h1>Chào mừng trở lại!</h1>
                <h2>Để duy trì kết nối bạn cần đăng nhập</h2>
                <button>ĐĂNG NHẬP</button>
            </div>
            <div class="table-right">
                <h1>Tạo Tài Khoản</h1>
                <div class="icon-social">
                    <img src="public/icon-fb.png"/>
                    <img src="public/icon-gg.png"/>
                </div>
                <p>hoặc sử dụng email của bạn để đăng ký</p>
                <form action="" class="">
                    <input type="text" placeholder="Họ tên" required/>
                    <input type="email" placeholder="Email" required/>
                    <input type="tel" placeholder="Số điện thoại" required/>
                    <input type="text" placeholder="Địa chỉ" required/>
                    <input type="password" placeholder="Mật khẩu" required/>
                    <button>ĐĂNG KÝ</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>