<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="header-contain">
            <div class="search mt-4">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                        <!-- <a class="nav-link" routerLink="/thuephong" routerLinkActive="active-link">  -->
                            <label class="btn btn-outline-primary" for="btnradio1" >
                                Cho thuê
                            </label>
                        <!-- </a> -->
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <!-- <a class="nav-link" routerLink="/timoghep" routerLinkActive="active-link"> -->
                            <label class="btn btn-outline-primary" for="btnradio2">
                                Tìm người ở ghép
                            </label>
                        <!-- </a>     -->
                </div> 
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn" type="button">
                        <img src="public/search.png"/>
                    </button>
                </form> 
            </div>
            <div class="type">
                <div class="item">
                    <div class="name">
                        <a class="btn dropdown-toggle custom-dropdown-toggle" [ngClass]="{'custom-dropdown-toggle1': activeItem == 'kind'}"  type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" (click)="toggleArrowKind('kind')">
                            Loại nhà
                        </a>
                    </div>
                    <div *ngIf="isclick_btnKind && activeItem === 'kind'" class="display">
                        <div class="group">
                            <img src="public/city-1.png"/>
                            <p>Tất cả nhà đất</p>
                            <input type="radio" name="kind-home" [(ngModel)]="searchTypeHome" value="Tất cả" (click)="updateTypeHome($event)"/>
                        </div>
                        <div class="group">
                            <img src="public/city-2.png"/>
                            <p>Phòng trọ, Nhà trọ</p>
                            <input type="radio" name="kind-home" [(ngModel)]="searchTypeHome" value="Phòng trọ, Nhà trọ" (click)="updateTypeHome($event)"/>
                        </div>
                        <div class="group">
                            <img src="public/city-3.png"/>
                            <p>Nhà thuê nguyên căn</p>
                            <input type="radio" name="kind-home" [(ngModel)]="searchTypeHome" value="Nhà thuê nguyên căn" (click)="updateTypeHome($event)"/>
                        </div>
                        <div class="group">
                            <img src="public/city-4.png"/>
                            <p>Căn hộ mini</p>
                            <input type="radio" name="kind-home" [(ngModel)]="searchTypeHome" value="Căn hộ mini" (click)="updateTypeHome($event)"/>
                        </div>
                        <div class="reset">
                            <button class="reset-children" (click)="Reset_TypeHome()">
                                <img src="public/recycle.png"/>
                                <p>Đặt lại</p>
                            </button>
                            <button class="reset-children" (click)="Search_TypeHome($event)">
                                <img src="public/search_white.png"/>
                                <p>Tìm kiếm</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="item item-address">
                    <div class="name">
                        <a class="btn dropdown-toggle custom-dropdown-toggle" [ngClass]="{'custom-dropdown-toggle2': activeItem == 'address'}" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" (click)="toggleArrowAddress('address')">
                            Khu vực
                        </a>
                    </div>
                    <div *ngIf="isclick_btnAddress && activeItem === 'address'" class="display-address">
                        <div class="province">
                            <img src="public/right-arrow.png"/>
                            <select [(ngModel)]="selectedCity" (change)="onCityChange($event)">
                                <option value="" selected>Chọn tỉnh thành</option>
                                <option *ngFor="let city of cities" [value]="city.Id">{{ city.Name }}</option>
                              </select>
                        </div>
                        <div class="district">
                            <img src="public/right-arrow.png"/>
                            <select [(ngModel)]="selectedDistrict" (change)="onDistrictChange($event)">
                                <option value="" selected>Chọn quận huyện</option>
                                <option *ngFor="let district of districts" [value]="district.Id">{{ district.Name }}</option>
                              </select>
                        </div>
                        <div class="commune">
                            <img src="public/right-arrow.png"/>
                            <select [(ngModel)]="selectedWard">
                                <option value="" selected>Chọn phường xã</option>
                                <option *ngFor="let ward of wards" [value]="ward.Id">{{ ward.Name }}</option>
                              </select>
                        </div>
                        <div class="reset">
                            <button class="reset-children" (click)="ResetAddress()">
                                <img src="public/recycle.png"/>
                                <p>Đặt lại</p>
                            </button>
                            <button class="reset-children">
                                <img src="public/search_white.png"/>
                                <p>Tìm kiếm</p>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="item item-value">
                    <div class="name">
                        <a class="btn dropdown-toggle custom-dropdown-toggle" [ngClass]="{'custom-dropdown-toggle3': activeItem == 'acreage'}" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false" (click)="toggleArrowAcreage('acreage')">
                            Diện tích
                        </a>
                    </div>
                    <div *ngIf="isclick_btnAcreage && activeItem === 'acreage'" class="display-value">
                        <div class="value">
                            <div class="start">
                                <p>{{start_acreage}}</p>
                            </div>
                            <div class="img">
                                <img src="public/arrow-right.png"/>
                            </div>
                            <div class="end">
                                <p>{{end_acreage}}</p>
                            </div>
                        </div>
                        <mat-slider smin="0" max="150" step="5">
                            <input matSliderStartThumb [(ngModel)]="start_acreage">
                            <input matSliderEndThumb [(ngModel)]="end_acreage">
                            </mat-slider>
                        <div class="all">
                            <button (click)="setAllAcreage()">Tất cả diện tích</button>
                            <button (click)="setAcreageRange(0, 20)">Dưới 20m<sup>2</sup></button>
                            <button (click)="setAcreageRange(20, 30)">Từ 20m<sup>2</sup> - 30m<sup>2</sup></button>
                            <button (click)="setAcreageRange(30, 50)">Từ 30m<sup>2</sup> - 50m<sup>2</sup></button>
                            <button (click)="setAcreageRange(50, 70)">Từ 50m<sup>2</sup> - 70m<sup>2</sup></button>
                            <button (click)="setAcreageRange(70, 100)">Từ 70m<sup>2</sup> - 100m<sup>2</sup></button>
                            <button (click)="setAcreageRange(100, 150)">Từ 100m<sup>2</sup> trở lên</button>
                        </div>
                        <div class="reset">
                            <button class="reset-children" (click)="setAllAcreage()">
                                <img src="public/recycle.png"/>
                                <p>Đặt lại</p>
                            </button>
                            <div class="reset-children">
                                <img src="public/search_white.png"/>
                                <p>Tìm kiếm</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item item-value">
                    <div class="name">
                        <a class="btn dropdown-toggle custom-dropdown-toggle" [ngClass]="{'custom-dropdown-toggle4': activeItem == 'price'}" type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-expanded="false" (click)="toggleArrowPrice('price')">
                            Mức giá
                        </a>
                    </div>
                    <div *ngIf="isclick_btnPrice && activeItem === 'price'" class="display-value">
                        <div class="value">
                            <div class="start">
                                <p>{{start_price}}</p>
                            </div>
                            <div class="img">
                                <img src="public/arrow-right.png"/>
                            </div>
                            <div class="end">
                                <p>{{end_price}}</p>
                            </div>
                        </div>
                        <mat-slider smin="0" max="50000000" step="200000">
                            <input matSliderStartThumb [(ngModel)]="start_price">
                            <input matSliderEndThumb [(ngModel)]="end_price">
                            </mat-slider>
                        <div class="all">
                            <button (click)="setAllPrice()">Tất cả giá thành</button>
                            <button (click)="setPriceRange(0, 1000000)">Dưới 1 triệu</button>
                            <button (click)="setPriceRange(1000000, 2000000)">1 triệu - 2 triệu đồng</button>
                            <button (click)="setPriceRange(2000000, 3000000)">2 triệu - 3 triệu đồng</button>
                            <button (click)="setPriceRange(3000000, 5000000)">3 triệu - 5 triệu đồng</button>
                            <button (click)="setPriceRange(5000000, 7000000)">5 triệu - 7 triệu đồng</button>
                            <button (click)="setPriceRange(7000000, 10000000)">7 triệu - 10 triệu đồng</button>
                            <button (click)="setPriceRange(10000000, 50000000)">Từ 10 triệu trở lên</button>
                        </div>
                        <div class="reset">
                            <button class="reset-children" (click)="setAllPrice()">
                                <img src="public/recycle.png"/>
                                <p>Đặt lại</p>
                            </button>
                            <div class="reset-children" (click)="SearchPrice(start_price, end_price)">
                                <img src="public/search_white.png"/>
                                <p>Tìm kiếm</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="name">
                        <i class="bi bi-funnel-fill"></i>
                        <a class="btn dropdown-toggle custom-dropdown-toggle" [ngClass]="{'custom-dropdown-toggle5': activeItem == 'filter'}" type="button" id="dropdownMenuButton5" data-bs-toggle="dropdown" aria-expanded="false" (click)="toggleArrowFilter('filter')">
                            Lọc thêm
                        </a>
                    </div>
                    <div *ngIf="isclick_btnFilter && activeItem === 'filter'" class="display">
                        <div class="kind">
                            <p>Loại tin đăng</p>
                            <button>Đã xác thực</button>
                        </div>
                        <div class="bedroom">
                            <p>Số phòng ngủ</p>
                            <div class="quatity">
                                <button>1</button>
                                <button>2</button>
                                <button>3</button>
                                <button>4</button>
                                <button>5+</button>
                            </div>
                        </div>
                        <div class="content">
                            <p>Nội dung tin có</p>
                            <div class="button">
                                <button>Hình ảnh</button>
                                <button>Video</button>
                            </div>
                        </div>
                        <div class="reset">
                            <div class="reset-children">
                                <img src="public/recycle.png"/>
                                <p>Đặt lại</p>
                            </div>
                            <div class="reset-children">
                                <img src="public/search_white.png"/>
                                <p>Tìm kiếm</p>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="body-content">
        <div class="filter">

        <!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Toggle right offcanvas</button> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" aria-expanded="false" aria-label="Toggle navigation">
            <img src="public/list.png"/>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <!-- <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5> -->
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="standard">
                <div class="price">
                    <p>Xem theo giá</p>
                    <button (click)="setAllPrice()">
                        <p>Tất cả giá thành</p>
                    </button>
                    <button (click)="setPriceRange(0, 1000000)">
                        <p>Dưới 1 triệu</p>
                    </button>
                    <button (click)="setPriceRange(1000000, 2000000)">
                        <p>1 triệu - 2 triệu đồng</p>
                    </button>
                    <button (click)="setPriceRange(2000000, 3000000)">
                        <p>2 triệu - 3 triệu đồng</p>
                    </button>
                    <button (click)="setPriceRange(3000000, 5000000)">
                        <p>3 triệu - 5 triệu đồng</p>
                    </button>
                    <button (click)="setPriceRange(5000000, 7000000)">
                        <p>5 triệu - 7 triệu đồng</p>
                    </button>
                    <button (click)="setPriceRange(7000000, 10000000)">
                        <p>7 triệu - 10 triệu đồng</p>
                    </button>
                    <button (click)="setPriceRange(10000000, 50000000)">
                        <p>Từ 10 triệu trở lên</p>
                    </button>
                </div>
                <div class="acreage">
                    <p>Xem theo diện tích</p>
                    <button>
                        <p>Dưới 20m2</p>
                    </button>
                    <button>
                        <p>Từ 20m2 - 30m2</p>
                    </button>
                    <button>
                        <p>Từ 30m2 - 50m2</p>
                    </button>
                    <button>
                        <p>Từ 50m2 - 70m2</p>
                    </button>
                    <button>
                        <p>Từ 70m2 - 90m2</p>
                    </button>
                    <button>
                        <p>Trên 90m2</p>
                    </button>
                </div>
                <div class="category">
                    <p>Danh mục cho thuê</p>
                    <button>
                        <p>Phòng trọ. Nhà trọ</p>
                    </button>
                    <button>
                        <p>Nhà nguyên căn</p>
                    </button>
                    <button>
                        <p>Căn hộ mini</p>
                    </button>
                </div>
                <div class="posts">
                    <p>Bài viết được quan tâm</p>
                    <div class="item">
                        <button>
                            <img src="public/right-arrow-grey.png"/>
                            <p>Thủ tục thuê phòng trọ chính xác dành cho người nước ngoài</p>
                        </button>
                    </div>
                    <div class="item">
                        <button>
                            <img src="public/right-arrow-grey.png"/>
                            <p>Sinh viên Hà Nội nên ở trọ hay ký túc xá? Cần lưu ý điều gì khi thuê trọ?</p>
                        </button>
                    </div>
                    <div class="item">
                        <button>
                            <img src="public/right-arrow-grey.png"/>
                            <p>Cập Nhật Giá Thuê Phòng Trọ Đống Đa Tháng 6/2024</p>
                        </button>
                    </div>
                    <div class="item">
                        <button>
                            <img src="public/right-arrow-grey.png"/>
                            <p>Lộ diện top 5 khu vực "hot" nhất để thuê phòng trọ tại TPHCM</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        <div class="inf">
            <div class="filter">
                <p>Cho thuê/</p>
                <p>{{searchTypeHome}}</p>
            </div>
            <h1>Cho thuê nhà đất trên toàn quốc</h1>
            <div class="quatity">
                <p>Hiện có 17.435 tin</p>
                <select>
                    <option>Tất cả</option>
                    <option>Bài đăng xác thực</option>
                    <option type="button">Tin mới nhất</option>
                </select>
            </div>
            <div class="body">
                <div class="content-wrapper">
                    <div class="detail">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-12 mb-4" *ngFor="let inf of infs">
                                <div class="item">
                                    <div class="img">
                                        <div class="img-child">
                                            <img src="public/pic_rent1.png"/>
                                        </div>
                                        <div class="img-child">
                                            <img src="public/pic_rent2.png"/>
                                            <img src="public/pic_rent3.png"/>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="intro">
                                            <h3>
                                                {{inf.description}}
                                            </h3>
                                            <div class="intro-inf d-flex flex-wrap">
                                                <p class="fee">{{inf.price}} / tháng</p>
                                                <p class="acreage">{{inf.acreage}}m<sup>2</sup>  </p>
                                                <p class="address">{{ getFullAddress(inf.address) }}</p>
                                            </div>
                                        </div>
                                        <div class="contact d-flex flex-wrap">
                                            <div class="contact-profile">
                                                <div class="avt">
                                                    <img src="public/Avatar.png"/>
                                                </div>
                                                <div class="col-6 col-sm-6 d-flex flex-wrap name">
                                                    <p class="full-name">Lê An</p>
                                                    <p class="time">{{inf.createDate}}</p>
                                                </div>
                                            </div>
                                            <div class="contact-profile d-flex flex-wrap">
                                                <button class="phone" (click)="callPhoneNumber('0948394832')">
                                                    <img src="public/telephone.png"/>
                                                    <p>0948394832</p>
                                                </button>
                                                <button class="zalo" (click)="openZaloMessage('0948394832')">
                                                    <img src="public/zalo-logo.png"/>
                                                    <p>Liên hệ Zalo</p>
                                                </button>
                                                <div class="icon">
                                                    <button class="share">
                                                        <img src="public/share.png"/>
                                                    </button>
                                                    <button class="like">
                                                        <i class="bi bi-suit-heart"></i>
                                                        <!-- <i class="bi bi-suit-heart-fill" *ngIf="inf.islike==true" style="color: #55B3D9"></i> -->
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="standard">
                        <div class="price">
                            <p>Xem theo giá</p>
                            <button (click)="setAllPrice()">
                                <p>Tất cả giá thành</p>
                            </button>
                            <button (click)="setPriceRange(0, 1000000)">
                                <p>Dưới 1 triệu</p>
                            </button>
                            <button (click)="setPriceRange(1000000, 2000000)">
                                <p>1 triệu - 2 triệu đồng</p>
                            </button>
                            <button (click)="setPriceRange(2000000, 3000000)">
                                <p>2 triệu - 3 triệu đồng</p>
                            </button>
                            <button (click)="setPriceRange(3000000, 5000000)">
                                <p>3 triệu - 5 triệu đồng</p>
                            </button>
                            <button (click)="setPriceRange(5000000, 7000000)">
                                <p>5 triệu - 7 triệu đồng</p>
                            </button>
                            <button (click)="setPriceRange(7000000, 10000000)">
                                <p>7 triệu - 10 triệu đồng</p>
                            </button>
                            <button (click)="setPriceRange(10000000, 50000000)">
                                <p>Từ 10 triệu trở lên</p>
                            </button>
                        </div>
                        <div class="acreage">
                            <p>Xem theo diện tích</p>
                            <button>
                                <p>Dưới 20m2</p>
                            </button>
                            <button>
                                <p>Từ 20m2 - 30m2</p>
                            </button>
                            <button>
                                <p>Từ 30m2 - 50m2</p>
                            </button>
                            <button>
                                <p>Từ 50m2 - 70m2</p>
                            </button>
                            <button>
                                <p>Từ 70m2 - 90m2</p>
                            </button>
                            <button>
                                <p>Trên 90m2</p>
                            </button>
                        </div>
                        <div class="category">
                            <p>Danh mục cho thuê</p>
                            <button>
                                <p>Phòng trọ. Nhà trọ</p>
                            </button>
                            <button>
                                <p>Nhà nguyên căn</p>
                            </button>
                            <button>
                                <p>Căn hộ mini</p>
                            </button>
                        </div>
                        <div class="posts">
                            <p>Bài viết được quan tâm</p>
                            <div class="item">
                                <button>
                                    <img src="public/right-arrow-grey.png"/>
                                    <p>Thủ tục thuê phòng trọ chính xác dành cho người nước ngoài</p>
                                </button>
                            </div>
                            <div class="item">
                                <button>
                                    <img src="public/right-arrow-grey.png"/>
                                    <p>Sinh viên Hà Nội nên ở trọ hay ký túc xá? Cần lưu ý điều gì khi thuê trọ?</p>
                                </button>
                            </div>
                            <div class="item">
                                <button>
                                    <img src="public/right-arrow-grey.png"/>
                                    <p>Cập Nhật Giá Thuê Phòng Trọ Đống Đa Tháng 6/2024</p>
                                </button>
                            </div>
                            <div class="item">
                                <button>
                                    <img src="public/right-arrow-grey.png"/>
                                    <p>Lộ diện top 5 khu vực "hot" nhất để thuê phòng trọ tại TPHCM</p>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <a href="/thuephong/#">
            <img src="public/up-arrow.png"/>
        </a>  
    </footer>

</body>
</html>



