<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <div class="header-contain">
            <div class="process_value search mt-4">
                <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off">
                    <label class="btn btn-outline-primary" for="btnradio1">Cho thuê</label>
                    
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off" checked>
                    <label class="btn btn-outline-primary" for="btnradio2">Tìm người ở ghép</label>
                </div>
                <div class="button">
                    <div class="reset">
                        <button class="reset-children" (click)="ResetAll()">
                            <img src="public/recycle.png"/>
                            <p>Đặt lại</p>
                        </button>
                        <button class="reset-children" (click)="SearchAll()">
                            <img src="public/search_white.png"/>
                            <p>Tìm kiếm</p>
                        </button>
                    </div>
                </div>  
            </div>
            <div class="type">
                <div class="item item-address">
                    <div class="name">
                        <a *ngIf="cityName==''" class="btn dropdown-toggle custom-dropdown-toggle" [ngClass]="{'custom-dropdown-toggle2': activeItem == 'address'}" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" (click)="ToggleArrow('address')">
                            Khu vực
                        </a>
                        <a  *ngIf="cityName!=''" class="btn dropdown-toggle custom-dropdown-toggle" [ngClass]="{'custom-dropdown-toggle2': activeItem == 'address'}" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false" (click)="ToggleArrow('address')">
                            {{ region}}
                        </a>
                    </div>
                    <div *ngIf="isClickBtnAddress && activeItem === 'address'" class="display-address">
                        <div class="province">
                            <img src="public/right-arrow.png"/>
                            <select [(ngModel)]="selectedCity" (change)="OnCityChange($event)">
                                <option value="" selected>Chọn tỉnh thành</option>
                                <option *ngFor="let city of cities" [value]="city.Id">{{ city.Name }}</option>
                            </select>
                        </div>
                        <div class="district">
                            <img src="public/right-arrow.png"/>
                            <select [(ngModel)]="selectedDistrict" (change)="OnDistrictChange($event)">
                                <option value="" selected>Chọn quận huyện</option>
                                <option *ngFor="let district of districts" [value]="district.Id">{{ district.Name }}</option>
                              </select>
                        </div>
                        <!-- <div class="commune">
                            <img src="public/right-arrow.png"/>
                            <select [(ngModel)]="selectedWard">
                                <option value="" selected>Chọn phường xã</option>
                                <option *ngFor="let ward of wards" [value]="ward.Id">{{ ward.Name }}</option>
                              </select>
                        </div> -->
                    </div>
                </div>
                <div class="item item-value">
                    <div class="name">
                        <a *ngIf="startAcreage==0 && endAcreage==Array_Acreage[Array_Acreage.length-1].max" class="btn dropdown-toggle custom-dropdown-toggle" [ngClass]="{'custom-dropdown-toggle3': activeItem == 'acreage'}" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false" (click)="ToggleArrow('acreage')">
                            Diện tích
                        </a>
                        <a *ngIf="(startAcreage!=0 && endAcreage!=Array_Acreage[Array_Acreage.length-1].max) || 
                                (startAcreage==0 && endAcreage!=Array_Acreage[Array_Acreage.length-1].max) || 
                                (startAcreage!=0 && endAcreage==Array_Acreage[Array_Acreage.length-1].max)" class="btn dropdown-toggle custom-dropdown-toggle" [ngClass]="{'custom-dropdown-toggle3': activeItem == 'acreage'}" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown" aria-expanded="false" (click)="ToggleArrow('acreage')">
                            Từ {{startAcreage}}m<sup>2</sup> - {{endAcreage}}m<sup>2</sup>
                        </a>
                    </div>
                    <div *ngIf="isClickBtnAcreage && activeItem === 'acreage'" class="display-value">
                        <div class="value">
                            <div class="start">
                                <p>{{startAcreage}}</p>
                            </div>
                            <div class="img">
                                <img src="public/arrow-right.png"/>
                            </div>
                            <div class="end">
                                <p>{{endAcreage}}</p>
                            </div>
                        </div>
                        <mat-slider smin="0" max="150" step="5">
                            <input matSliderStartThumb [(ngModel)]="startAcreage">
                            <input matSliderEndThumb [(ngModel)]="endAcreage">
                            </mat-slider>
                        <div class="all">
                            <button *ngFor="let acreage of Array_Acreage" 
                            (click)="SetAcreageRange(acreage.min,acreage.max)"
                            [ngClass]="{'selected': startAcreage === acreage.min && endAcreage === acreage.max}">
                                {{acreage.label}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="item item-value">
                    <div class="name">
                        <a *ngIf="startPrice==0 && endPrice==Array_Price[Array_Price.length-1].max" class="btn dropdown-toggle custom-dropdown-toggle" [ngClass]="{'custom-dropdown-toggle4': activeItem == 'price'}" type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-expanded="false" (click)="ToggleArrow('price')">
                           Mức giá
                        </a>
                        <a *ngIf="(startPrice!=0 && endPrice!=Array_Price[Array_Price.length-1].max) || 
                                (startPrice==0 && endPrice!=Array_Price[Array_Price.length-1].max) || 
                                (startPrice!=0 && endPrice==Array_Price[Array_Price.length-1].max)"
                            class="btn dropdown-toggle custom-dropdown-toggle" [ngClass]="{'custom-dropdown-toggle4': activeItem == 'price'}" type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown" aria-expanded="false" (click)="ToggleArrow('price')">
                            Từ {{startPrice}} - {{endPrice}}

                        </a>
                    </div>
                    <div *ngIf="isClickBtnPrice && activeItem === 'price'" class="display-value">
                        <div class="value">
                            <div class="start">
                                <p>{{startPrice}}</p>
                            </div>
                            <div class="img">
                                <img src="public/arrow-right.png"/>
                            </div>
                            <div class="end">
                                <p>{{endPrice}}</p>
                            </div>
                        </div>
                        <mat-slider smin="0" max="50000000" step="200000">
                            <input matSliderStartThumb [(ngModel)]="startPrice">
                            <input matSliderEndThumb [(ngModel)]="endPrice">
                            </mat-slider>
                        <div class="all">
                            <button *ngFor="let price of Array_Price" 
                            (click)="SetPriceRange(price.min,price.max)"
                            [ngClass]="{'selected': startPrice === price.min && endPrice === price.max}">
                                {{price.label}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="body-content">
        <div class="filter">

        <!-- <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Toggle right offcanvas</button> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight" aria-expanded="false" aria-label="Toggle navigation">
            <img src="public/list.png"/>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <!-- <h5 class="offcanvas-title" id="offcanvasRightLabel">Offcanvas right</h5> -->
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="standard">
                <div class="price">
                    <p>Xem theo giá</p>
                    <button (click)="SetAllPrice()">
                        <p>Tất cả giá thành</p>
                    </button>
                    <button (click)="SetPriceRange(0, 1000000)">
                        <p>Dưới 1 triệu</p>
                    </button>
                    <button (click)="SetPriceRange(1000000, 2000000)">
                        <p>1 triệu - 2 triệu đồng</p>
                    </button>
                    <button (click)="SetPriceRange(2000000, 3000000)">
                        <p>2 triệu - 3 triệu đồng</p>
                    </button>
                    <button (click)="SetPriceRange(3000000, 5000000)">
                        <p>3 triệu - 5 triệu đồng</p>
                    </button>
                    <button (click)="SetPriceRange(5000000, 7000000)">
                        <p>5 triệu - 7 triệu đồng</p>
                    </button>
                    <button (click)="SetPriceRange(7000000, 10000000)">
                        <p>7 triệu - 10 triệu đồng</p>
                    </button>
                    <button (click)="SetPriceRange(10000000, 50000000)">
                        <p>Từ 10 triệu trở lên</p>
                    </button>
                </div>
                <div class="acreage">
                    <p>Xem theo diện tích</p>
                    <button>
                        <p>Dưới 20m2</p>
                    </button>
                    <button>
                        <p>Từ 20m2 - 30m2</p>
                    </button>
                    <button>
                        <p>Từ 30m2 - 50m2</p>
                    </button>
                    <button>
                        <p>Từ 50m2 - 70m2</p>
                    </button>
                    <button>
                        <p>Từ 70m2 - 90m2</p>
                    </button>
                    <button>
                        <p>Trên 90m2</p>
                    </button>
                </div>
                <div class="category">
                    <p>Danh mục cho thuê</p>
                    <button>
                        <p>Phòng trọ. Nhà trọ</p>
                    </button>
                    <button>
                        <p>Nhà nguyên căn</p>
                    </button>
                    <button>
                        <p>Căn hộ mini</p>
                    </button>
                </div>
                <div class="posts">
                    <p>Bài viết được quan tâm</p>
                    <div class="item">
                        <button>
                            <img src="public/right-arrow-grey.png"/>
                            <p>Thủ tục thuê phòng trọ chính xác dành cho người nước ngoài</p>
                        </button>
                    </div>
                    <div class="item">
                        <button>
                            <img src="public/right-arrow-grey.png"/>
                            <p>Sinh viên Hà Nội nên ở trọ hay ký túc xá? Cần lưu ý điều gì khi thuê trọ?</p>
                        </button>
                    </div>
                    <div class="item">
                        <button>
                            <img src="public/right-arrow-grey.png"/>
                            <p>Cập Nhật Giá Thuê Phòng Trọ Đống Đa Tháng 6/2024</p>
                        </button>
                    </div>
                    <div class="item">
                        <button>
                            <img src="public/right-arrow-grey.png"/>
                            <p>Lộ diện top 5 khu vực "hot" nhất để thuê phòng trọ tại TPHCM</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
        <div class="inf">
            <div class="filter">
                <p>Cho thuê/</p>
                <p>{{searchCategory}}</p>
            </div>
            <h1>Cho thuê nhà đất trên toàn quốc</h1>
            <div class="quatity">
                <p>Hiện có 17.435 tin</p>
                <select>
                    <option>Tất cả</option>
                    <option>Bài đăng xác thực</option>
                    <option type="button">Tin mới nhất</option>
                </select>
            </div>
            <div class="body">
                <div class="content-wrapper">
                    <div class="detail">
                        <div class="row">
                            <div class="col-12 col-md-6 col-lg-12 mb-4" *ngFor="let inf of infs">
                                <div class="item" (click)="NavigateToDetail(inf.id)">
                                    <div class="img">
                                        <!-- <div class="img-child">
                                            <img src="public/pic_rent1.png"/>
                                        </div>
                                        <div class="img-child">
                                            <img src="public/pic_rent2.png"/>
                                            <img src="public/pic_rent3.png"/>
                                        </div> -->
                                        <div class="img-child" *ngIf="inf.images.length > 0">
                                            <img [src]="inf.images[0]"/>
                                        </div>
                                        <div class="img-child" *ngIf="inf.images.length > 1">
                                        <img *ngFor="let img of inf.images.slice(1)" [src]="img"/>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <div class="intro">
                                            <h3>
                                                {{inf.description}}
                                            </h3>
                                            <div class="intro-inf d-flex flex-wrap">
                                                <p class="fee">{{inf.price}} / tháng</p>
                                                <p class="acreage">{{inf.acreage}}m<sup>2</sup>  </p>
                                                <p class="address">{{ GetFullAddress(inf.address) }}</p>
                                            </div>
                                        </div>
                                        <div class="contact d-flex flex-wrap">
                                            <div class="contact-profile">
                                                <div class="avt">
                                                    <img src="public/Avatar.png"/>
                                                </div>
                                                <div class="col-6 col-sm-6 d-flex flex-wrap name">
                                                    <p class="full-name">{{inf.user.name}}</p>
                                                    <p class="time">{{ formatDate(inf.createDate.toString())}}</p>
                                                </div>
                                            </div>
                                            <div class="contact-profile d-flex flex-wrap">
                                                <button class="phone" (click)="CallPhoneNumber('0948394832')">
                                                    <img src="public/telephone.png"/>
                                                    <p>0948394832</p>
                                                </button>
                                                <button class="zalo" (click)="OpenZaloMessage('0948394832')">
                                                    <img src="public/zalo-logo.png"/>
                                                    <p>Liên hệ Zalo</p>
                                                </button>
                                                <div class="icon">
                                                    <button class="share">
                                                        <img src="public/share.png"/>
                                                    </button>
                                                    <button class="like">
                                                        <i class="bi bi-suit-heart"></i>
                                                        <!-- <i class="bi bi-suit-heart-fill" *ngIf="inf.islike==true" style="color: #55B3D9"></i> -->
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="standard">
                        <div class="price">
                            <p>Xem theo giá</p>
                            <button (click)="SetAllPrice()">
                                <p>Tất cả giá thành</p>
                            </button>
                            <button (click)="SetPriceRange(0, 1000000)">
                                <p>Dưới 1 triệu</p>
                            </button>
                            <button (click)="SetPriceRange(1000000, 2000000)">
                                <p>1 triệu - 2 triệu đồng</p>
                            </button>
                            <button (click)="SetPriceRange(2000000, 3000000)">
                                <p>2 triệu - 3 triệu đồng</p>
                            </button>
                            <button (click)="SetPriceRange(3000000, 5000000)">
                                <p>3 triệu - 5 triệu đồng</p>
                            </button>
                            <button (click)="SetPriceRange(5000000, 7000000)">
                                <p>5 triệu - 7 triệu đồng</p>
                            </button>
                            <button (click)="SetPriceRange(7000000, 10000000)">
                                <p>7 triệu - 10 triệu đồng</p>
                            </button>
                            <button (click)="SetPriceRange(10000000, 50000000)">
                                <p>Từ 10 triệu trở lên</p>
                            </button>
                        </div>
                        <div class="acreage">
                            <p>Xem theo diện tích</p>
                            <button>
                                <p>Dưới 20m2</p>
                            </button>
                            <button>
                                <p>Từ 20m2 - 30m2</p>
                            </button>
                            <button>
                                <p>Từ 30m2 - 50m2</p>
                            </button>
                            <button>
                                <p>Từ 50m2 - 70m2</p>
                            </button>
                            <button>
                                <p>Từ 70m2 - 90m2</p>
                            </button>
                            <button>
                                <p>Trên 90m2</p>
                            </button>
                        </div>
                        <div class="category">
                            <p>Danh mục cho thuê</p>
                            <button>
                                <p>Phòng trọ. Nhà trọ</p>
                            </button>
                            <button>
                                <p>Nhà nguyên căn</p>
                            </button>
                            <button>
                                <p>Căn hộ mini</p>
                            </button>
                        </div>
                        <div class="posts">
                            <p>Bài viết được quan tâm</p>
                            <div class="item">
                                <button>
                                    <img src="public/right-arrow-grey.png"/>
                                    <p>Thủ tục thuê phòng trọ chính xác dành cho người nước ngoài</p>
                                </button>
                            </div>
                            <div class="item">
                                <button>
                                    <img src="public/right-arrow-grey.png"/>
                                    <p>Sinh viên Hà Nội nên ở trọ hay ký túc xá? Cần lưu ý điều gì khi thuê trọ?</p>
                                </button>
                            </div>
                            <div class="item">
                                <button>
                                    <img src="public/right-arrow-grey.png"/>
                                    <p>Cập Nhật Giá Thuê Phòng Trọ Đống Đa Tháng 6/2024</p>
                                </button>
                            </div>
                            <div class="item">
                                <button>
                                    <img src="public/right-arrow-grey.png"/>
                                    <p>Lộ diện top 5 khu vực "hot" nhất để thuê phòng trọ tại TPHCM</p>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <a href="/thuephong/#">
            <img src="public/up-arrow.png"/>
        </a>  
    </footer>

</body>
</html>