:root{
    --primary-color: #55B3D9;
    --second-color: rgb(160, 217, 244);
}

.search {
    width: 60%;
    display: flex;
    text-align: center;
    margin: auto;
    justify-content: space-between;
}

.btn-group{
    width: 250px;
    height: 40px;
    margin-top: 10px;
}

.search form input{
    position: absolute;
    width: 40%;
    padding-left: 45px;
    margin-left: 20px;
    margin-top: 10px;
}

.search form button{
    position: relative;
    width: 40px;
    height: 30px;
    left: 20px;
    margin-top: 5px;
    top: 8px;
}

.search form button img{
    margin-left: -5px;
    margin-top: -7px;
}

.container{
    padding-top: 200px;
}

::ng-deep .custom-dropdown-toggle1::after,
::ng-deep .custom-dropdown-toggle2::after,
::ng-deep .custom-dropdown-toggle3::after,
::ng-deep .custom-dropdown-toggle4::after,
::ng-deep .custom-dropdown-toggle5::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    transition: transform 0.3s;
}

::ng-deep .custom-dropdown-toggle1[aria-expanded="true"]::after,
::ng-deep .custom-dropdown-toggle2[aria-expanded="true"]::after,
::ng-deep .custom-dropdown-toggle3[aria-expanded="true"]::after,
::ng-deep .custom-dropdown-toggle4[aria-expanded="true"]::after,
::ng-deep .custom-dropdown-toggle5[aria-expanded="true"]::after {
    transform: rotate(180deg);
}

.type img{
    width: 15px;
    height: 15px;
}

.type{
    display: flex;
    gap: 30px;
    justify-content: center; 
    text-align: center;
    margin-top: -20px;
}

.type .item{
    width:300px;
    margin-top: 15px;
    padding-top: 5px;
    height: 50px;
    align-items: center;
    position: relative; 
    border: 1px solid grey;
    border-radius: 10px;
    text-align: justify;
} 

.type .item .name {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; 
}


.type .item .name a {
    text-align: center; 
}

.type .item .name a:focus,
.type .item .name a:active,
.type .item .name a:hover {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
}




a{
    text-decoration: none;
    color: #000;
    padding-left: 20px;
}


.item:last-child .name{
    display: flex;
    gap:0;
    padding-left: 20px;
}

.item:last-child .name i{
    margin-right: -20px;
    margin-top: 10px;
}

.type .item:first-child .display{
    z-index: 10;
    width: 300px;
    position: absolute;
    height: 150px;
    margin-top: 5px;
    background: #FFF;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
}

.type .item:first-child .display .group{
    display: flex;
    align-items: center;
    width: 230px;
    justify-content: space-between;
    padding-left: 20px;
}

.type .item:first-child .display .group p{
    width: 170px;
    margin-left: 5px;
    margin-top: 15px;
}

.type .item:first-child .display .group input{
    width: 15px;
    height: 15px;
    border-radius: 0%;
}

.type .item .name button{
    position: absolute;
    padding: 0 30px;
    border: none;
    background: #D9D9D9;
    background-color: #fff;
    padding-left: 10px; 
    width: 100px;
}

.type .item .name button:hover{
    cursor: pointer;
}

.type .item .display-address{
    /* display: none; */
    z-index: 10;
    width: 300px;
    position: absolute;
    height: 150px;
    margin-top: 5px;
    background: #FFF;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
}


.type .item .display-address select{
    appearance: none;
    -webkit-appearance: none; 
    -moz-appearance: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: transparent; 
    font-size: 16px;
    position: absolute;
    margin-top: 10px;
    margin-left: -5px;
    width: 280px;
    background: #FFF;
}

.type .item .display-address .district,
.type .item .display-address .commune,
.type .item .display-address .street{
    margin-top: 40px;
}

.type .item .display-address .province>img,
.type .item .display-address .district>img,
.type .item .display-address .commune>img,
.type .item .display-address .street>img{
    position: relative;
    top: 20px;
    left: 270px;
    z-index: 1;
}

.type .item .display-address .reset,
.type .item .display .reset{
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #d9d9d9;
}

.type .item .display .reset{
    margin-top: 0;
}

.searchall{
    display: flex;
    align-items: center;
    border: none;
    height: 30px;
    padding: 2px 10px;
    border-radius: 5px;
    background: #55B3D9;
    gap: 5px;
    /* margin-left: 10vw; */
    margin-top: 15px;
    z-index: 1;   
}

.searchall p{
    margin-top: 15px;
}

.type .item .display-address .reset .reset-children,
.type .item .display .reset .reset-children{
    display: flex;
    align-items: center;
    border: none;
    height: 20px;
    padding: 2px 10px;
    border-radius: 5px;
    background: #fff;
    gap: 5px;
    z-index: 1;
}

.type .item .display-address .reset .reset-children p,
.type .item .display-value .reset .reset-children p,
.type .item .display .reset .reset-children p{
    margin-top: 15px;
}

.type .item .display-address .reset .reset-children:hover,
.type .item .display .reset .reset-children:hover{
    cursor: pointer;
}

.type .item .display-address .reset .reset-children:last-child,
.type .item .display .reset .reset-children:last-child{
    color: #fff;
    background: #55B3D9;
    height: 20px;
    padding: 2px 10px;
    border-radius: 5px;
}

.type .item:last-child .name img{
    left: 10px;
}

.type .item:last-child .display{
    /* display: none; */
    background: #fff;
    margin-left: -170px;
    margin-top: 20px;
    padding-left: 30px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    z-index: 1;
    width: 300px;
    height: 200px;
    position: absolute;
}

.type .item:last-child .display .kind button{
    border: none;
    padding: 10px;
    border-radius: 10px;
    margin-top: -10px;
}

.type .item:last-child .display .bedroom .quatity{
    margin-top: -10px;
}

.type .item:last-child .display .bedroom button{
    margin-right: 10px;
    width: 30px;
    border-radius: 15px;
    padding: 5px 10px;
    border: none;
}

.type .item:last-child .content .button{
    margin-top: -10px;
    margin-bottom: 20px;
}

.type .item:last-child .content .button button{
    color: #000;
    margin-right: 20px;
    border-radius: 10px;
    background: #D9D9D9;
    border: none;
}

.type .item:last-child .reset{
    display: flex;
    margin-right: 20px;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-top: 1px solid #d9d9d9;
}

.type .item:last-child .reset .reset-children{
    display: flex;
    align-items: center;
    gap: 5px;
}

.type .item:last-child .reset .reset-children p{
    margin-top: 15px;
}

.type .item:last-child .reset .reset-children:last-child{
    color: #fff;
    background: #55B3D9;
    height: 20px;
    padding: 2px 10px;
    border-radius: 5px;
}

.type .item-value:hover .display-value{
    z-index: 1;
}

.type .display-value{
    /* display: none; */
    background: #fff;
    margin-left: -150px;
    margin-top: 5px;
    padding-left: 0px;
    border-radius: 5px;
    border: 1px solid #d9d9d9;
    z-index: 1;
    width: 300px;
    height: 200px;
    position: absolute;
}

.type .display-value .value{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.type .display-value .value .img{
    margin-top: 22px;
    border: none;
    outline: none;
}

.type .display-value .value .start,
.type .display-value .value .end{
    border: 1px solid #d9d9d9;
    width: 100px;
    border-radius: 5px;
    height: 20px;
    margin-top: 20px;
    text-align: center;
}

.type .display-value .value .start p,
.type .display-value .value .end p{
    margin-top: 0px;
}

.type .display-value mat-slider{
    margin-left: 20px;
    width: 260px;
    color: #55B3D9;
}

.type .display-value .all{
    height: 200px;
    overflow: scroll;
    padding-top: 10px;
}

.type .display-value .all::before{
    content: '';
    position: absolute;
    margin-top: -10px;
    margin-left: 20px;
    height: 0.1px;
    width: 260px;
    background: #D9D9D9;
}

.type select,
.type option{
    border: none;
    gap: 0;
    margin-top: 10px;
    width: 100%;
}

select:focus,
a:focus {
    outline: none;
    border: none; 
}



.type .display-value .all button{
    width: 100%;
    padding-left: 0px;
    padding: 5px 0;
    border: none;
    background: #FFF;
    padding-left: 10px;
    text-align: left;
    transition: all ease 0.5s;
}

button.selected {
    background-color: #007bff; 
    color: #55B3D9; 
    border: none;
}


.type .display-value .all button:not(:first-child):hover{
    color: #55B3D9;
    cursor: pointer;
}

.type .item-value .reset{
    display: flex;
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 10px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #d9d9d9;
}

.type .item-value .reset .reset-children{
    display: flex;
    align-items: center;
    gap: 5px;
    height: 30px;
    background: #fff;
    border: none;
}

.type .item-value .reset .reset-children:last-child{
    color: #fff;
    background: #55B3D9;
    height: 20px;
    padding: 2px 10px;
    border-radius: 5px;
}

.filter{
    display: none;
    margin-left: 90%;
    margin-top: 250px;
}

.filter img{
    float: right;
    width: 30px;
    height: 30px;
}

.body-content{
    margin-top: 480px;
}

.header{
    top: 70px;
    width: 100%;
    height: 240px;
    position: fixed;
    z-index: 99;
    background: #fff;
    padding-bottom: 20px;
}

.custom-label1{
    width: 100px;
    margin-left: -80px;
}

.custom-label2{
    width: 200px;
    margin-left: -20px;
}

.filter{
    display: none;
    margin-left: 90%;
}

.filter img{
    float: right;
    width: 30px;
    height: 30px;
}

.inf{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: -150px;
}

.inf .filter{
    display: flex;
    margin-left: 0;
}

.inf .filter p{
    width: 140px;
}

.inf .filter p:first-child{
    color: #747474;
    width: 80px;
}

.inf h1{
    width: 600px;
    margin-top: -10px;
}

.inf .quatity{
    display: flex;
    margin-top: -10px;
    gap: 35%;
}

.inf .quatity p{
    width: 250px;
}

.inf .quatity select{
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #D9D9D9;
}

.inf .body{
    display: flex;
}

.content-wrapper {
    display: flex;
    width: 100%;
}

.detail {
flex: 1;
margin-right: 20px;
}

.standard {
width: 300px;
flex-shrink: 0;
}

.process_value {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%; 
    padding: 20px; 
    gap: 50px;
    margin-top: -20px;
}

.btn-group {
    display: flex;
    justify-content: center; 
    margin-bottom: 20px; 
}

.button {
    display: flex;
    justify-content: center; 
}

.reset {
    display: flex;
    gap: 10px; 
}

.reset-children {
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: #007bff; 
    border: none;
    color: white;
    padding: 10px 20px; 
    border-radius: 4px; 
    cursor: pointer; 
    height: 30px;
}

.reset-children img {
    width: 20px; 
    height: auto;
}

.reset-children p{
    margin-top: 15px;
}


.inf .body .detail .item{
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    box-shadow: 5px 5px 10px #D9D9D9;
    z-index: 0;
    padding-bottom: 20px;
}

.inf .body .detail .item .img{
    display: flex;
    height: 45vh;
    border: none;
    outline: none;
    width: 10;
}

.inf .body .detail .item .img img{
    width: 100%;
    border: none;
    outline: none;
    /* height: 20vh; */
}

.inf .body .detail .item .img .img-child:first-child img{
    width: 550px;
    /* width: 100%; */
    height: 41vh;
    border: none;
    outline: none;
}

.inf .body .detail .item .img .img-child:last-child{
    margin-left: 10px;
    border: none;
    outline: none;
}

.inf .body .detail .item .img .img-child:last-child img:last-child{
    margin-top: 10px;
    border: none;
    outline: none;
}

.inf .body .detail .item .content{
    margin-left: 5%;
    margin-right: 5%;
}

.inf .body .detail .item .content .intro .intro-inf{
    display: flex;
    gap: 30px;
    row-gap: 0;
}

.inf .body .detail .item .content .intro .intro-inf .fee,
.inf .body .detail .item .content .intro .intro-inf .acreage{
    color: #55B3D9;
}

.inf .body .detail .item .content .contact img{
    width: 20px;
    height: 20px;
}

.inf .body .detail .item .content .contact{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.inf .body .detail .item .content .contact .contact-profile{
    display: flex;
    align-items: center;
    gap: 15px;
}

.inf .body .detail .item .content .contact .contact-profile:last-child{
    margin-top: 10px;
}

.inf .body .detail .item .content .contact .contact-profile .name{
    margin-left: 0px;
}

.inf .body .detail .item .content .contact .contact-profile .avt img{
    width: 40px;
    height: 40px;
}

.inf .body .detail .item .content .contact .contact-profile .phone,
.inf .body .detail .item .content .contact .contact-profile .zalo{
    display: flex;
    gap: 10px;
    border: 1px solid #55B3D9;
    background: #fff;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    height: 40px;
    color: #55B3D9;
}

.inf .body .detail .item .content .contact .contact-profile .icon{
    width: 10%;
    display: flex;
}

.inf .body .detail .item .content .contact .contact-profile .phone,
.inf .body .detail .item .content .contact .contact-profile .zalo:hover{
    cursor: pointer;
    color: #fff;
    background-color: #55B3D9;
}

.inf .body .detail .item .content .contact .contact-profile .phone:hover{
    cursor: pointer;
}

.inf .body .detail .item .content .contact .contact-profile .zalo:hover img{
    display: block;
    background: #fff;
    border-radius: 5px;
}

.inf .body .detail .item .content .contact .contact-profile .share,
.inf .body .detail .item .content .contact .contact-profile .like{
    width: 25px;
    height: 25px;
    border: none;
    background: #fff;
}

.inf .body .detail .item .content .contact .contact-profile .share:hover,
.inf .body .detail .item .content .contact .contact-profile .like:hover{
    cursor: pointer;
}

.inf .body .detail .item .content .contact .contact-profile .share img,
.inf .body .detail .item .content .contact .contact-profile .like img{
    margin-left: -5px;
}

.standard .price,
.standard .acreage,
.standard .category,
.standard .posts{
    padding: 10px;
    margin-top: 10px;
    padding-left: 30px;
    width: 250px;
    box-shadow: 2px 2px 4px rgb(215, 212, 212);
    border-radius: 5px;
    border: 1px solid rgb(215, 212, 212);
}

.standard .price button,
.standard .acreage button,
.standard .category button{
    display: block;
    margin-top: 10px;
    width: 200px;
    height: 30px;
    position: relative;
    background: #fff;
    border: none;
}


.standard .price>p,
.standard .acreage>p,
.standard .category>p,
.standard .posts>p{
    font-weight: bold;
}

.standard .price button p,
.standard .acreage button p,
.standard .category button p{
    position: absolute;
    margin-top: -5px;
    transition: color ease 0.3s;
}

.standard .price button:hover,
.standard .acreage button:hover,
.standard .category button:hover,
.standard .posts button:hover{
    cursor: pointer;
}

.standard .price button:hover p,
.standard .acreage button:hover p,
.standard .category button:hover p,
.standard .posts button:hover p{
    color: #55B3D9;
}

.standard .posts img{
    height: 15px;
    width: 15px;
}

.standard .posts .item button{
    display: flex;
    margin-top: 20px;
    margin-left: -20px;
    align-items: center;
    background: #fff;
    height: 70px;
    border: none;
}

.standard .posts .item button p{
    margin-left: 5px;
    text-align: justify;
    transition: color ease 0.3s;
    margin-top: 10px;
}

footer img{
    float: right;
    width: 15%;
    margin-right: 30px;
}

@media (max-width: 991px){
    .body-content{
        margin-top: 0;
    }

    .icon .name:hover .display{
        display: none;
    }

    .type{
       margin-left: 5%;
       margin-right: 5%;
    }

    .card .quatity{
        margin-left: 70%;
    }

    .body .standard{
        display: none;
    }

    .filter{
        display: block;
    }

    .inf{
        margin-top: -200px;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 768px){
    .search{
        margin-left: 5%;
    }

    .type{
        margin-left: 5%;
        gap: 10px;
    }

    .custom-dropdown-toggle{
        background: none !important;
        border: none !important;
        padding: 10px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .custom-dropdown-toggle::after {
        display: none !important;
    }

    .type .item .name{
        width: 80px;
        display: flex;
    }

    .type .item:last-child .name{
        padding-right: 20px;
    }

    .type .item .name i{
        display: none;
    }

    .process_value{
        flex-direction: column;
        row-gap: 10px;
    }

    .type{
        gap:5px;
    }

    .type .item:last-child .name{
        width: 180px;
    }

    .type .item:first-child .name{
        width: 150px;
    }

    .type .item:nth-child(2) .name{
        width: 130px;
    }
}

@media (max-width: 780px){
    .card .quatity{
        margin-left: 80%;
    }
}