
  <app-chitietphongtro ngSkipHydration></app-chitietphongtro>
  <!-- <!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <title>Document</title>
  </head>
  <body>
      <nav class="navbar">
          <div class="logo">
              <img src="public/logo.png"/>
              <strong>CoDat</strong>
          </div>
          <div class="link">
              <a href="#!">Trang chủ</a>
          </div>
          <div class="button">
              <div class="notification">
                  <img src="public/notification_black.png"/>
                  <p>18</p>
              </div>
              <div class="account">
                  <img src="public/Avatar.png"/>
                  <p>Admin</p>
                  <img src="public/down.png"/>
              </div>
          </div>
      </nav>

      <div class="body">
        <div class="menu">
            <div class="menu-child">
                <div class="user">
                    <li class="avta"></li>
                    <li>Admin</li>
                </div>
                <div class="list">
                    <p class="a2"><img src="public/list_register.png" >Quản lý tin đăng</p>
                    <a class="a1" routerLink="phongtro/quanlybaidang" routerLinkActive="active">Danh sách bài đăng</a>
                    <p class="a2" ><img src="public/user.png"> Quản lý tài khoản</p>
                    <a class="a1" routerLink="phongtro/danhsachduyetchutro" routerLinkActive="active">Danh sách duyệt chủ trọ</a> 
                    <a class="a1" routerLink="phongtro/danhsachnguoidung" routerLinkActive="active">Danh sách người dùng</a>
                </div>
            </div>
        </div>
      </div>
  </body>
  </html> -->
  <!-- <router-outlet></router-outlet> -->