<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Document</title>
</head>
<body>
    <!-- <div class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="logo container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="public/logo.png"/>
                    <strong>CoDat</strong>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="link collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#!">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link border-nav" href="#!">Danh sách người dùng</a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <div class="notification me-3">
                            <img src="public/notification_black.png" alt="Notification" style="width: 24px;">
                            <span class="badge bg-danger">18</span>
                        </div>
                        <div class="account d-flex align-items-center">
                            <p class="mb-0 me-2">Admin</p>
                            <img src="public/down.png" alt="Dropdown" style="width: 24px;">
                        </div>
                    </div>
            </div>
            </div>
        </nav>
    </div> -->

    <div class="body">
        <!-- <menu class="navbar navbar-expand-lg navbar-light bg-light menu" [class.expanded]="isMenuExpanded">
            <button class="navbar-toggler button-nav" type="button" (click)="toggleMenu()" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav mr-auto">
                <a class="user navbar-brand" href="#">
                    <img src="public/Avatar.png" class="avta" alt="Avatar"/>
                    <span class="ms-2">Admin</span>
                </a>
                <div class="list">
                    <li class="a2 nav-item">
                        <a class="nav-link" href="#">
                        <img src="public/list_register.png" alt="List Register"> Quản lý tin đăng
                        </a>
                    </li>
                    <li class="a1 nav-item">
                        <a class="nav-link" href="#">Danh sách bài đăng</a>
                    </li>
                    <li class="a2 nav-item">
                        <a class="nav-link" href="#">
                        <img src="public/user.png" alt="User"> Quản lý tài khoản
                        </a>
                    </li>
                    <li class="a1 nav-item">
                        <a class="nav-link" href="#">Danh sách duyệt chủ trọ</a>
                    </li>
                    <li class="a1 nav-item active">
                        <a class="nav-link" href="#">Danh sách người dùng</a>
                    </li>
                </div>
            </ul>
            </div>
        </menu> -->
        <div class="content">
            <h1>Danh sách người dùng</h1>
            <div class="name-kind">
                <div class="kind">
                    <p *ngFor="let item of items" (click)="FilterItems(item)" [class.selected]="item === selectedItem">
                        {{ item.label }}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-12 mb-4" *ngFor="let inf of filteredPosts">
                    <div class="item-inf">
                        <div class="img">
                            <img src="public/{{inf.avt}}"/>
                            <p class="status-inf">Trạng thái</p>
                            <p [ngClass]="inf.status=='active' ? 'active' : 'block'">{{inf.status === 'active' ? 'Đang hoạt động' : 'Đã khoá tài khoản'}}</p>
                        </div>
                        <div class="text">
                            <div class="item-text">
                                <img src="public/user-border.png"/>
                                <p>{{inf.name}}</p>
                            </div>
                            <div class="item-text">
                                <img src="public/telephone-black.png"/>
                                <p>{{inf.phone}}</p>
                            </div>
                            <div class="item-text">
                                <img src="public/placeholder.png"/>
                                <p>{{inf.address}}</p>
                            </div>
                            <div class="item-text">
                                <img src="public/email.png"/>
                                <p>{{inf.gmail}}</p>
                            </div>
                            <button *ngIf="inf.status==='active'" (click)="ChangeStatus(inf.id)">
                                <p>Khoá tài khoản</p>
                                <img src="public/padlock.png"/>
                            </button>
                            <button *ngIf="inf.status!=='active'" (click)="ChangeStatus(inf.id)">
                                <p>Mở tài khoản</p>
                                <img src="public/recycle.png"/>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>