<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="head">
            <div class="list">
                <div class="logo">
                    <img src="public/logo.png" alt="Logo"/>
                    <strong>CoDat</strong>
                </div>
                <div class="link">
                    <a href="#!">Trang chủ</a>
                    <a href="#!">Nhà đất cho thuê</a>
                </div>
            </div>
            <div class="icon">
                <img src="public/history.png" alt="Lịch sử"/>
                <img src="public/notification.png" alt="Thông báo"/>
                <img src="public/profile.png" alt="Profile"/>
            </div>
        </div>
    </header>

    <div class="room1">
        <div class="infor">
            <div class="img">
                <img src="public/ha_vd1.jpg"/>
                <p>Đang thuê</p>
                <div class="all">
                    <img src="public/ha_vd2.jpg"/>
                    <img src="public/ha_vd3.jpg"/>
                    <img src="public/ha_vd4.jpg"/>
                </div>
            </div>
            <div class="detail">
                <div class="address">
                    <p>Phòng trọ số 4, Đường Hùng Vương, Quận Bình Thạnh, TP.HCM</p>
                </div>
                <div class="infor_room">
                    <div class="inf">
                        <p>Mức giá</p>
                        <p>3 triệu/tháng</p>
                    </div>
                    <div class="inf">
                        <p>Diện tích</p>
                        <p>110m2</p>
                    </div>
                    <div class="inf">
                        <p>Phòng ngủ</p>
                        <p>1PN</p>
                    </div>
                    <div class="inf">
                        <a href="#!">
                            <img src="public/sharing.png"/>
                        </a>
                        <a href="#!">
                            <img src="public/warning.png"/>
                        </a>
                        <a href="#!">
                            <img src="public/love.png"/>
                        </a>
                    </div>
                </div>
                <div class="description">
                    <div class="left">
                        <div class="text">
                            <p>Mô tả</p>
                            <p>Bảng giá thuê - bán tháng 06/2024.</p>
                            <p>1, Căn hộ 1 phòng ngủ: 52m - 53m - 57m.</p>
                            <p>- Nội thất chủ đầu tư: Giá thuê 10 - 10,5 triệu/tháng.</p>
                            <p>- Đầy đủ (full) nội thất: Giá thuê 11 - 12,5 triệu/tháng.</p>
                            <p>Xem thêm...</p>
                        </div>
                        <div class="button">
                            <button>Tìm bạn ở ghép</button>
                            <button>Huỷ thuê</button>
                        </div>
                    </div>
                    <div class="contact">
                        <div class="name">
                            <div class="img">
                                <img src="public/Ellipse.png"/>
                                <img src="public/badge.png"/>
                            </div>
                            <div class="text">
                                <p>Nguyễn Văn Bình</p>
                                <p>Xem thêm thông tin</p>
                            </div>
                        </div>
                        <div class="button">
                            <button>Gọi điện thoại</button>
                            <button>Chat</button>
                            <button>Gửi mail</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="evaluate">
            <strong>Đánh giá</strong>
            <div class="all_detail">
                <div class="detail">
                    <div class="star">
                        <img src="Star.png"/>
                        <img src="Star.png"/>
                        <img src="Star.png"/>
                        <img src="Star.png"/>
                        <img src="Star.png"/>
                    </div>
                    <p class="status">Nhà tạm</p>
                    <p class="text">Chủ trọ dễ tính, hay giúp đỡ, dễ gần, tốt bụng</p>
                    <div class="inf">
                        <div class="avt">
                            <img src="Avatar.png"/>
                        </div>
                        <div class="name">
                            <p>Trần Thị C</p>
                            <p>Ngày đăng 16/04/2020
                        </div>
                    </div>
                </div>
                <div class="detail">
                    <div class="plus">
                        <img src="public/plus.png"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="room1">
        <div class="infor">
            <div class="img">
                <img src="public/ha_vd1.jpg"/>
                <p>Đã huỷ</p>
                <div class="all">
                    <img src="public/ha_vd2.jpg"/>
                    <img src="public/ha_vd3.jpg"/>
                    <img src="public/ha_vd4.jpg"/>
                </div>
            </div>
            <div class="detail">
                <div class="address">
                    <p>Phòng trọ số 2, Đường Tăng Bạc Hổ, Quận Bình Thạnh, TP.HCM</p>
                </div>
                <div class="infor_room">
                    <div class="inf">
                        <p>Mức giá</p>
                        <p>3 triệu/tháng</p>
                    </div>
                    <div class="inf">
                        <p>Diện tích</p>
                        <p>110m2</p>
                    </div>
                    <div class="inf">
                        <p>Phòng ngủ</p>
                        <p>1PN</p>
                    </div>
                    <div class="inf">
                        <a href="#!">
                            <img src="public/sharing.png"/>
                        </a>
                        <a href="#!">
                            <img src="public/warning.png"/>
                        </a>
                        <a href="#!">
                            <img src="public/love.png"/>
                        </a>
                    </div>
                </div>
                <div class="description">
                    <div class="left">
                        <div class="text">
                            <p>Mô tả</p>
                            <p>Bảng giá thuê - bán tháng 06/2024.</p>
                            <p>1, Căn hộ 1 phòng ngủ: 52m - 53m - 57m.</p>
                            <p>- Nội thất chủ đầu tư: Giá thuê 10 - 10,5 triệu/tháng.</p>
                            <p>- Đầy đủ (full) nội thất: Giá thuê 11 - 12,5 triệu/tháng.</p>
                            <p>Xem thêm...</p>
                        </div>
                        <div class="button">
                            <button>Chi tiết</button>
                        </div>
                    </div>
                    <div class="contact">
                        <div class="name">
                            <div class="img">
                                <img src="public/Ellipse.png"/>
                                <img src="public/badge.png"/>
                            </div>
                            <div class="text">
                                <p>Nguyễn Văn Bình</p>
                                <p>Xem thêm thông tin</p>
                            </div>
                        </div>
                        <div class="button">
                            <button>Gọi điện thoại</button>
                            <button>Chat</button>
                            <button>Gửi mail</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="evaluate">
            <strong>Đánh giá</strong>
            <div class="all_detail">
                <div class="detail">
                    <div class="star">
                        <img src="public/Star.png"/>
                        <img src="public/Star.png"/>
                        <img src="public/Star.png"/>
                        <img src="public/Star.png"/>
                        <img src="public/Star.png"/>
                    </div>
                    <p class="status">Nhà tạm</p>
                    <p class="text">Chủ trọ dễ tính, hay giúp đỡ, dễ gần, tốt bụng</p>
                    <div class="inf">
                        <div class="avt">
                            <img src="public/Avatar.png"/>
                        </div>
                        <div class="name">
                            <p>Trần Thị C</p>
                            <p>Ngày đăng 16/04/2020
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
