:root{
    --primary-color: #55B3D9;
    --second-color: rgb(160, 217, 244);
}
button:focus,
input:focus,
a:focus {
  outline: none !important;
  box-shadow: none !important;
}

i{
    font-size: 24px;
    font-weight: 600;
}

.header{
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 999;
}

.header-contain{
    top: 0;
    margin-top: -25px;
    height: 150px;
    background: #fff;
}

.navbar{
    top: 0;
    width: 100%;
    display: flex;
}

.icon{
    display: flex;
    gap: 20px;
    align-items: center;
}

.icon .item i{
    position: absolute;
}

.icon .item>span{
    position: relative;
    top: -12px;
    left: 12px;
    background: var(--primary-color);
    border-radius: 50%;
    text-align: center;
    width: 25px;
    height: 25px;
}

.icon .name{
    display: flex;
    align-items: center;
}

.icon .name>p{
    margin-top: 12px;
}

.icon .name a{
    text-align: center;
}

.icon .display{
    display: none;
    position: absolute;
    width: 300px;
    top: 70px;
    margin-left: -120px;
    z-index: 2;
    background: #FFF;
    border: 1px solid rgb(233, 232, 232);
    border-radius: 20px;
    height: 350px;
}

.icon .name:hover .display{
    display: block;
}

.icon .name .register{
    background: linear-gradient(180deg, #74C6DB 4.35%, #3E6A75 85.96%);
    margin-top: -20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.icon .name .register h3{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    color: #fff;
}

.icon .name .register-inf{
    display: flex;
    margin-left: 0px;
    margin-top: -40px;
    padding-left: 20px;
    padding-right: 20px;
}

.icon .name .register-inf img{
    width: 130px;
    height: 130px;
    margin-left: -12px;
    margin-top: 55px;
}

.icon .name .register-inf .inf p{
    width: 140px;
    color: #fff;
    margin-top: 40px;
}
.icon .name .inf-group{
    display: flex;
    align-items: center;
    height: 30px;
    width: 250px;
    margin-left: 20px;
    margin-top: 10px;
    background: #fff;
    border: none;
    transition: all ease 0.3s;
    border-bottom: 1px solid rgb(233, 232, 232);
    padding-bottom: 10px;
}
.icon .name .inf-group p{
    margin-top: 13px;
    margin-left: 5px;
}

.icon .name .inf-group:hover{
    cursor: pointer;
    color: var(--primary-color);
}

.icon .name .logout{
    display: flex;
    gap: 10px;
    height: 40px;
    margin-top: 10px;
    margin-left: 120px;
}/* :root{
    --primary-color: #55B3D9;
    --second-color: rgb(160, 217, 244);
}
* :not(.navbar-brand) {
    
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
.navbar-brand{
    font-weight: 800;
}
.navbar > * {
    max-width: 100%;
    flex-shrink: 1
}
.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    padding-left: 20px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
    z-index: 999;
}
.navbar .button{
    display: flex;
    gap: 30px;
}

.navbar .button .like,
.navbar .button .notification,
.navbar .button .account{
    display: flex;
    align-items: center;
}

.navbar .button .like img,
.navbar .button .notification img{
    position: relative;
}

.navbar .button .like .badge,
.navbar .button .notification .badge{
    position: absolute;
    margin-left: 13px;
    margin-top: -5px;
    font-size: 12px;
    text-align: center;
    background: rgba(85, 179, 217, 1);
    color: #FFF;
    border-radius: 50%;
    border:4px solid #FFF;
    width: 20px ;
    height: 20px;
    text-align: center;
}

.badge {
    margin-left: 15px;
}

.navbar .button .account{
    gap: 5px;
    position: relative;
}

.navbar .button .account:hover .display{
    display: block;
}

.navbar .button .account .display{
    display: none;
    position: absolute;
    width: 280px;
    top: 50px;
    margin-left: -100px;
    z-index: 2;
    background: #FFF;
    border: 1px solid rgb(233, 232, 232);
    border-radius: 20px;
    height: 340px;
}

.navbar .button .account .display .register{
    background: linear-gradient(180deg, #74C6DB 4.35%, #3E6A75 85.96%);
    margin-top: -20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.navbar .button .account .display .register h3{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}

.navbar .button .account .display .register .register-inf{
    display: flex;
    margin-left: -100px;
    margin-top: -40px;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar .button .account .display .register .register-inf .button-register{
    border: none;
    color: #FFF;
    border-radius: 5px;
    background: var(--primary-color);
    padding: 10px;
    transition: all ease 1s;
}

.navbar .button .account .display .register .register-inf .button-register:hover{
    cursor: pointer;
    background: var(--second-color);
    color:#000;
}

.navbar .button .account .display .register .register-inf img{
    width: 130px;
    height: 130px;
    margin-left: -105px;
    margin-top: 20px;
}

.navbar .button .account .display .register .register-inf .inf p{
    width: 140px;
    color: #fff;
}

.navbar .button .account .display .register .register-inf .inf button{
    font-weight: bold;
}

.navbar .button .account .display .inf-group{
    display: flex;
    align-items: center;
    height: 30px;
    width: 230px;
    margin-left: 20px;
    margin-top: 10px;
    background: #fff;
    border: none;
    transition: all ease 0.3s;
    border-bottom: 1px solid rgb(233, 232, 232);
    padding-bottom: 10px;
}

.navbar .button .account .display .inf-group:hover{
    cursor: pointer;
    color: var(--primary-color);
}

.navbar .button .account .display .inf-group p{
    margin-left: 5px;
}

.navbar .button .account .display .logout:hover{
    cursor: pointer;
    background: var(--second-color);
    color:#000
}

.navbar .button .account .display .logout{
    display: flex;
    align-items: center;
    height: 30px;
    border: none;
    background: var(--primary-color);
    color: #FFF;
    border-radius: 5px;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    transition: all ease 1s;
}

.navbar .button .account .display .logout img{
    margin-left: 10px;
    width: 15px;
    height: 15px;
}

.navbar .button img{
    width: 25px;
    height: 25px;
}

.navbar .button .upload:last-child{
    border: none;
    color: #fff;
    background-color: var(--primary-color);
    padding: 0 15px;
    border-radius: 10px;
    margin-top: 5px;
    height: 35px;
    transition: all ease 1s;
}

.navbar .button .upload:hover{
    cursor: pointer;
}

.navbar .button .upload:last-child:hover{
    background-color: var(--second-color);
    color: grey;
} */