<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
        <div class="logo">
            <img src="public/logo.png"/>
            <strong>CoDat</strong>
        </div>
        <div class="link">
            <a href="#!">Trang chủ</a>
            <a href="#!">Cho thuê phòng trọ</a>
            <a href="#!">Tìm người ở ghép</a>
            <a href="#!">Tin tức</a>
        </div>
        <div class="button">
            <div class="like">
                <img src="public/heart_black.png"/>
                <p>4</p>
            </div>
            <div class="notification">
                <img src="public/notification_black.png"/>
                <p>12</p>
            </div>
            <div class="account">
                <img src="public/Avatar.png"/>
                <p>Thanh Trâm</p>
                <img src="public/down.png"/>
                <div class="display">
                    <div class="register">
                        <h3>Đăng kí làm người cho thuê</h3>
                        <div class="register-inf">
                            <div class="inf">
                                <p>Để được đăng tin cho thuê bất động sản</p>
                                <button class="button-register">Đăng kí ngay</button>
                            </div>
                            <img src="public/house.png"/>
                        </div>
                    </div>
                    <button class="inf-group">
                        <img src="public/list_register.png"/>
                        <p>Quản lý tin đăng</p>
                    </button>
                    <button class="inf-group">
                        <img src="public/inf_register.png"/>
                        <p>Thay đổi thông tin cá nhân</p>
                    </button>
                    <button class="inf-group">
                        <img src="public/password_register.png"/>
                        <p>Thay đổi mật khẩu</p>
                    </button>
                    <button class="logout">
                        <p>Đăng xuất</p>
                        <img src="public/logout.png"/>
                    </button>
                </div>
            </div>
            <button class="upload">Đăng tin</button>
        </div>
    </nav>

    <div class="search">
        <div class="button">
            <button>Cho thuê</button>
            <button>Tìm người ở ghép</button>
        </div>
        <div class="search-box">
            <input type="text"/>
            <button>
                <img src="public/search.png"/>
            </button>
        </div>
        <div class="type">
            <div class="item">
                <div class="name">
                    <button>Loại nhà</button>
                    <img src="public/down.png"/>
                </div>
                <div class="list">
                    Tất cả
                </div>
                <div class="display">
                    <div class="group">
                        <img src="public/city-1.png"/>
                        <p>Tất cả nhà đất</p>
                        <input type="radio" name="kind-home" [(ngModel)]="searchTypeHome" value="Tất cả" (click)="updateTypeHome($event)"/>
                    </div>
                    <div class="group">
                        <img src="public/city-2.png"/>
                        <p>Phòng trọ, Nhà trọ</p>
                        <input type="radio" name="kind-home" [(ngModel)]="searchTypeHome" value="Phòng trọ, Nhà trọ" (click)="updateTypeHome($event)"/>
                    </div>
                    <div class="group">
                        <img src="public/city-3.png"/>
                        <p>Nhà thuê nguyên căn</p>
                        <input type="radio" name="kind-home" [(ngModel)]="searchTypeHome" value="Nhà thuê nguyên căn" (click)="updateTypeHome($event)"/>
                    </div>
                    <div class="group">
                        <img src="public/city-4.png"/>
                        <p>Căn hộ mini</p>
                        <input type="radio" name="kind-home" [(ngModel)]="searchTypeHome" value="Căn hộ mini" (click)="updateTypeHome($event)"/>
                    </div>
                    <div class="reset">
                        <button class="reset-children" (click)="Reset_TypeHome()">
                            <img src="public/recycle.png"/>
                            <p>Đặt lại</p>
                        </button>
                        <button class="reset-children" (click)="Search_TypeHome($event)">
                            <img src="public/search_white.png"/>
                            <p>Tìm kiếm</p>
                        </button>
                    </div>
                </div>
            </div>
            <div class="item item-address">
                <div class="name">
                    <button>Khu vực</button>
                    <img src="public/down.png"/>
                </div>
                <div class="list">
                    Toàn quốc
                </div>
                <div class="display-address">
                    <div class="province">
                        <img src="public/right-arrow.png"/>
                        <select>
                            <option>Tỉnh/Thành</option>
                            <option>Bình Định</option>
                        </select>
                    </div>
                    <div class="district">
                        <img src="public/right-arrow.png"/>
                        <select>
                            <option>Quận/Huyện</option>
                        </select>
                    </div>
                    <div class="commune">
                        <img src="public/right-arrow.png"/>
                        <select>
                            <option>Phường/Xã</option>
                        </select>
                    </div>
                    <div class="street">
                        <img src="public/right-arrow.png"/>
                        <select>
                            <option>Đường/Phố</option>
                        </select>
                    </div>
                    <div class="reset">
                        <button class="reset-children">
                            <img src="public/recycle.png"/>
                            <p>Đặt lại</p>
                        </button>
                        <button class="reset-children">
                            <img src="public/search_white.png"/>
                            <p>Tìm kiếm</p>
                        </button>
                    </div>
                </div>
            </div>
            <div class="item item-value">
                <div class="name">
                    <button>Diện tích</button>
                    <img src="public/down.png"/>
                </div>
                <div class="list">
                    Tất cả
                </div>
                <div class="display-value">
                    <div class="value">
                        <div class="start">
                            <p>{{start_acreage}}</p>
                        </div>
                        <div class="img">
                            <img src="public/arrow-right.png"/>
                        </div>
                        <div class="end">
                            <p>{{end_acreage}}</p>
                        </div>
                    </div>
                    <mat-slider smin="0" max="150" step="5">
                        <input matSliderStartThumb [(ngModel)]="start_acreage">
                        <input matSliderEndThumb [(ngModel)]="end_acreage">
                      </mat-slider>
                    <div class="all">
                        <button (click)="setAllAcreage()">Tất cả diện tích</button>
                        <button (click)="setAcreageRange(0, 20)">Dưới 20m<sup>2</sup></button>
                        <button (click)="setAcreageRange(20, 30)">Từ 20m<sup>2</sup> - 30m<sup>2</sup></button>
                        <button (click)="setAcreageRange(30, 50)">Từ 30m<sup>2</sup> - 50m<sup>2</sup></button>
                        <button (click)="setAcreageRange(50, 70)">Từ 50m<sup>2</sup> - 70m<sup>2</sup></button>
                        <button (click)="setAcreageRange(70, 100)">Từ 70m<sup>2</sup> - 100m<sup>2</sup></button>
                        <button (click)="setAcreageRange(100, 150)">Từ 100m<sup>2</sup> trở lên</button>
                    </div>
                    <div class="reset">
                        <button class="reset-children" (click)="setAllAcreage()">
                            <img src="public/recycle.png"/>
                            <p>Đặt lại</p>
                        </button>
                        <div class="reset-children">
                            <img src="public/search_white.png"/>
                            <p>Tìm kiếm</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item item-value">
                <div class="name">
                    <button>Mức giá</button>
                    <img src="public/down.png"/>
                </div>
                <div class="list">
                    Tất cả
                </div>
                <div class="display-value">
                    <div class="value">
                        <div class="start">
                            <p>{{start_price}}</p>
                        </div>
                        <div class="img">
                            <img src="public/arrow-right.png"/>
                        </div>
                        <div class="end">
                            <p>{{end_price}}</p>
                        </div>
                    </div>
                    <mat-slider smin="0" max="50000000" step="200000">
                        <input matSliderStartThumb [(ngModel)]="start_price">
                        <input matSliderEndThumb [(ngModel)]="end_price">
                      </mat-slider>
                    <div class="all">
                        <button (click)="setAllPrice()">Tất cả giá thành</button>
                        <button (click)="setPriceRange(0, 1000000)">Dưới 1 triệu</button>
                        <button (click)="setPriceRange(1000000, 2000000)">1 triệu - 2 triệu đồng</button>
                        <button (click)="setPriceRange(2000000, 3000000)">2 triệu - 3 triệu đồng</button>
                        <button (click)="setPriceRange(3000000, 5000000)">3 triệu - 5 triệu đồng</button>
                        <button (click)="setPriceRange(5000000, 7000000)">5 triệu - 7 triệu đồng</button>
                        <button (click)="setPriceRange(7000000, 10000000)">7 triệu - 10 triệu đồng</button>
                        <button (click)="setPriceRange(10000000, 50000000)">Từ 10 triệu trở lên</button>
                    </div>
                    <div class="reset">
                        <button class="reset-children" (click)="setAllPrice()">
                            <img src="public/recycle.png"/>
                            <p>Đặt lại</p>
                        </button>
                        <div class="reset-children">
                            <img src="public/search_white.png"/>
                            <p>Tìm kiếm</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="name">
                    <button>Lọc thêm</button>
                    <img src="public/down-arrow.png"/>
                </div>
                <div class="display">
                    <div class="kind">
                        <p>Loại tin đăng</p>
                        <button>Đã xác thực</button>
                    </div>
                    <div class="bedroom">
                        <p>Số phòng ngủ</p>
                        <div class="quatity">
                            <button>1</button>
                            <button>2</button>
                            <button>3</button>
                            <button>4</button>
                            <button>5+</button>
                        </div>
                    </div>
                    <div class="content">
                        <p>Nội dung tin có</p>
                        <div class="button">
                            <button>Hình ảnh</button>
                            <button>Video</button>
                        </div>
                    </div>
                    <div class="reset">
                        <div class="reset-children">
                            <img src="public/recycle.png"/>
                            <p>Đặt lại</p>
                        </div>
                        <div class="reset-children">
                            <img src="public/search_white.png"/>
                            <p>Tìm kiếm</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="inf">
        <div class="filter">
            <p>Tìm người ở ghép/</p>
            <p>{{searchTypeHome}}</p>
        </div>
        <h1>Tìm người ở ghép</h1>
        <div class="quatity">
            <p>Hiện có 17.435 tin</p>
            <select>
                <option>Tất cả</option>
                <option>Bài đăng xác thực</option>
                <option>Tin mới nhất</option>
            </select>
        </div>
        <div class="body">
            <div class="detail">
                <div class="item">
                    <div class="img">
                        <div class="img-child">
                            <img src="public/pic_rent1.png"/>
                        </div>
                        <div class="img-child">
                            <img src="public/pic_rent2.png"/>
                            <img src="public/pic_rent3.png"/>
                        </div>
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h3 class="name">
                                Quỹ căn cho thuê từ 1PN - 4PN giá rẻ chỉ 2PN giá chỉ 13 tr/tháng LH 0702 272634
                            </h3>
                            <div class="intro-inf">
                                <p class="fee">10 triệu/ tháng</p>
                                <p class="acreage">40m2  </p>
                                <p class="address">Cầu giấy, Hà Nội</p>
                            </div>
                        </div>
                        <div class="contact">
                            <div class="contact-profile">
                                <div class="avt">
                                    <img src="public/Avatar.png"/>
                                </div>
                                <div class="name">
                                    <p class="full-name">Trần Văn Dụ</p>
                                    <p class="time">Đăng 2 tuần trước</p>
                                </div>
                            </div>
                            <div class="contact-profile">
                                <button class="phone">
                                    <img src="public/telephone.png"/>
                                    <p>0948394859</p>
                                </button>
                                <button class="zalo">
                                    <img src="public/zalo-logo.png"/>
                                    <p>Liên hệ Zalo</p>
                                </button>
                                <button class="share">
                                    <img src="public/share.png"/>
                                </button>
                                <button class="like">
                                    <img src="public/heart_blue.png"/>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="img">
                        <div class="img-child">
                            <img src="public/pic_rent3.png"/>
                        </div>
                        <div class="img-child">
                            <img src="public/pic_rent1.png"/>
                            <img src="public/pic_rent2.png"/>
                        </div>
                    </div>
                    <div class="content">
                        <div class="intro">
                            <h3 class="name">
                                Quỹ căn cho thuê từ 1PN - 4PN giá rẻ chỉ 2PN giá chỉ 13 tr/tháng LH 0702 272634
                            </h3>
                            <div class="intro-inf">
                                <p class="fee">10 triệu/ tháng</p>
                                <p class="acreage">40m2  </p>
                                <p class="address">Cầu giấy, Hà Nội</p>
                            </div>
                        </div>
                        <div class="contact">
                            <div class="contact-profile">
                                <div class="avt">
                                    <img src="public/Avatar.png"/>
                                </div>
                                <div class="name">
                                    <p class="full-name">Trần Văn Dụ</p>
                                    <p class="time">Đăng 2 tuần trước</p>
                                </div>
                            </div>
                            <div class="contact-profile">
                                <button class="phone">
                                    <img src="public/telephone.png"/>
                                    <p>0948394859</p>
                                </button>
                                <button class="zalo">
                                    <img src="public/zalo-logo.png"/>
                                    <p>Liên hệ Zalo</p>
                                </button>
                                <button class="share">
                                    <img src="public/share.png"/>
                                </button>
                                <button class="like">
                                    <img src="public/heart_border_black.png"/>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="standard">
                <div class="price">
                    <p>Xem theo giá</p>
                    <button>
                        <p>Dưới 1 triệu</p>
                    </button>
                    <button>
                        <p>Từ 1 - 2 triệu</p>
                    </button>
                    <button>
                        <p>Từ 2 - 3 triệu</p>
                    </button>
                    <button>
                        <p>Từ 3 - 5 triệu</p>
                    </button>
                    <button>
                        <p>Từ 5 - 7 triệu</p>
                    </button>
                    <button>
                        <p>Từ 7 - 10 triệu</p>
                    </button>
                    <button>
                        <p>Từ 10 - 15 triệu</p>
                    </button>
                    <button>
                        <p>Trên 15 triệu</p>
                    </button>
                </div>
                <div class="acreage">
                    <p>Xem theo diện tích</p>
                    <button>
                        <p>Dưới 20m2</p>
                    </button>
                    <button>
                        <p>Từ 20m2 - 30m2</p>
                    </button>
                    <button>
                        <p>Từ 30m2 - 50m2</p>
                    </button>
                    <button>
                        <p>Từ 50m2 - 70m2</p>
                    </button>
                    <button>
                        <p>Từ 70m2 - 90m2</p>
                    </button>
                    <button>
                        <p>Trên 90m2</p>
                    </button>
                </div>
                <div class="category">
                    <p>Danh mục cho thuê</p>
                    <button>
                        <p>Phòng trọ. Nhà trọ</p>
                    </button>
                    <button>
                        <p>Nhà nguyên căn</p>
                    </button>
                    <button>
                        <p>Căn hộ mini</p>
                    </button>
                </div>
                <div class="posts">
                    <p>Bài viết được quan tâm</p>
                    <div class="item">
                        <button>
                            <img src="public/right-arrow-grey.png"/>
                            <p>Thủ tục thuê phòng trọ chính xác dành cho người nước ngoài</p>
                        </button>
                    </div>
                    <div class="item">
                        <button>
                            <img src="public/right-arrow-grey.png"/>
                            <p>Sinh viên Hà Nội nên ở trọ hay ký túc xá? Cần lưu ý điều gì khi thuê trọ?</p>
                        </button>
                    </div>
                    <div class="item">
                        <button>
                            <img src="public/right-arrow-grey.png"/>
                            <p>Cập Nhật Giá Thuê Phòng Trọ Đống Đa Tháng 6/2024</p>
                        </button>
                    </div>
                    <div class="item">
                        <button>
                            <img src="public/right-arrow-grey.png"/>
                            <p>Lộ diện top 5 khu vực "hot" nhất để thuê phòng trọ tại TPHCM</p>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <a href="#">
            <img src="public/up-arrow.png"/>
        </a>  
    </footer>

</body>
</html>

