<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="logo container-fluid">
            <a class="navbar-brand" href="#">
                <img src="public/logo.png"/>
                <strong>CoDat</strong>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="link collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="homepage" routerLinkActive="active-link" (click)="clickHome()">Trang chủ</a>
                    </li>
                    <li class="nav-item page" *ngIf="click_page==true">
                        <p class="nav-link border-nav" style="font-weight: bold; color: #000">{{name_page}}</p>
                    </li>
                </ul>
                <div class="d-flex">
                    <div class="notification me-3">
                        <img src="public/notification_black.png" alt="Notification" style="width: 24px;">
                        <span class="badge bg-danger">18</span>
                    </div>
                    <div class="account d-flex align-items-center">
                        <p class="mb-0 me-2">Admin</p>
                        <img src="public/down.png" alt="Dropdown" style="width: 24px;">
                    </div>
                </div>
        </div>
        </div>
    </nav>
 </div>
 <menu *ngIf="isclickHome==false" class="navbar navbar-expand-lg navbar-light bg-light menu" [class.expanded]="isMenuExpanded">
    <button class="navbar-toggler button-nav" type="button" (click)="toggleMenu()" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav mr-auto navbar-menu">
        <a class="user navbar-brand" href="#">
            <img src="public/Avatar.png" class="avta" alt="Avatar"/>
            <span class="ms-2">Admin</span>
        </a>
        <div class="list">
            <li class="a2 nav-item">
                <a class="nav-link" href="#">
                <img src="public/list_register.png" alt="List Register"> Quản lý tin đăng
                </a>
            </li>
            <li class="a1 nav-item">
                <a class="nav-link navlink1" routerLink="post-manage" routerLinkActive="active-link" (click)="getLinkContent($event)">
                    Danh sách bài đăng
                </a>
            </li>
            <li class="a2 nav-item">
                <a class="nav-link navlink1" href="#">
                <img src="public/user.png" alt="User"> Quản lý tài khoản
                </a>
            </li>
            <li class="a1 nav-item">
                <a class="nav-link navlink1" routerLink="approve-application" routerLinkActive="active-link" (click)="getLinkContent($event)">
                    Danh sách duyệt chủ trọ
                </a>
            </li>
            <li class="a1 nav-item active">
                <a class="nav-link navlink1" routerLink="user-list" routerLinkActive="active-link" (click)="getLinkContent($event)">
                    Danh sách người dùng
                </a>
            </li>
        </div>
    </ul>
    </div>
</menu>


<router-outlet></router-outlet>