<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Document</title>
</head>
<body>
    <!-- <div class="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="logo container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="public/logo.png"/>
                    <strong>CoDat</strong>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="link collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="#!">Trang chủ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link border-nav" href="#!">Danh sách bài đăng</a>
                        </li>
                    </ul>
                    <div class="d-flex">
                        <div class="notification me-3">
                            <img src="public/notification_black.png" alt="Notification" style="width: 24px;">
                            <span class="badge bg-danger">18</span>
                        </div>
                        <div class="account d-flex align-items-center">
                            <p class="mb-0 me-2">Admin</p>
                            <img src="public/down.png" alt="Dropdown" style="width: 24px;">
                        </div>
                    </div>
            </div>
            </div>
        </nav>
    </div> -->

    <div class="body">
        <!-- <menu class="navbar navbar-expand-lg navbar-light bg-light menu" [class.expanded]="isMenuExpanded">
            <button class="navbar-toggler button-nav" type="button" (click)="toggleMenu()" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav mr-auto">
                <a class="user navbar-brand" href="#">
                    <img src="public/Avatar.png" class="avta" alt="Avatar"/>
                    <span class="ms-2">Admin</span>
                </a>
                <div class="list">
                    <li class="a2 nav-item">
                        <a class="nav-link" href="#">
                        <img src="public/list_register.png" alt="List Register"> Quản lý tin đăng
                        </a>
                    </li>
                    <li class="a1 nav-item active">
                        <a class="nav-link" href="#">Danh sách bài đăng</a>
                    </li>
                    <li class="a2 nav-item">
                        <a class="nav-link" href="#">
                        <img src="public/user.png" alt="User"> Quản lý tài khoản
                        </a>
                    </li>
                    <li class="a1 nav-item">
                        <a class="nav-link" href="#">Danh sách duyệt chủ trọ</a>
                    </li>
                    <li class="a1 nav-item">
                        <a class="nav-link" href="#">Danh sách người dùng</a>
                    </li>
                </div>
            </ul>
            </div>
        </menu> -->
      
        <div class="content">
            <h1>Danh sách bài đăng</h1>
            <div class="search-box">
                <input type="text" name="searchId" [(ngModel)]="searchId"/>
                <button (click)="searchID()">
                    <img src="public/search.png"/>
                </button>
            </div>
            <div class="name-kind">
                <div class="kind">
                    <p *ngFor="let item of items" (click)="filterItems(item)" [class.selected]="item === selectedItem">
                        {{ item.label }}
                    </p>
                </div>
               <div class="container">
                    <div class="">
                        <div *ngFor="let item of filteredPosts" class="seperate-child">
                            <div class="checkbox">
                                <input type="checkbox" [(ngModel)]="item.checked" (change)="onCheckboxChange()"/>
                            </div>
                        <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-4">
                            <img [src]="item.imgSrc" class="img-fluid rounded-start img" alt="...">
                            <div class="quatity">
                                <img src="public/image.png"/>
                                <p>{{ item.quantity }}</p>
                            </div>
                        </div>
                            <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title">{{ item.title }}</h3>
                                <div class="card-text">
                                    <img src="public/placeholder.png"/>
                                    <p>{{ item.address }}</p>
                                </div>
                                <div class="card-text ">
                                    <p>{{ item.price }}</p>
                                    <p>{{ item.area }}m<sup>2</sup></p>
                                </div>
                                <div class="card-text last">
                                    <div class="text-child">
                                        <p>Mã tin</p>
                                        <p>{{ item.id }}</p>
                                    </div>
                                    <div class="text-child">
                                        <p>Ngày đăng</p>
                                        <p>{{ item.date }}</p>
                                    </div>
                                    <div class="text-child">
                                        <p>Trạng thái</p>
                                        <p [ngClass]="item.status === 'active' ? 'active' : 'ban'">
                                        {{ item.status === 'active' ? 'Hoạt động' : 'Bị cấm' }}
                                        </p>
                                    </div>
                                    <div class="text-child">
                                        <button class="delete" type="button" (click)="Delete(item.id)">
                                            <img src="public/bin.png"/>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                        </div>
                    </div>
                </div>
                <button class="deleteAll" type="button" (click)="DeleteAll()">
                Xoá({{ selectedCount }})
                </button>
            </div>
        </div>
    </div>
</body>
</html>

<script src="script.js"></script>
