:root {
    --primary-color: #55B3D9;
    --second-color: rgb(160, 217, 244);
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 2px solid rgb(186, 182, 182);
}

.navbar .logo {
    display: flex;
    align-items: center;
}

.navbar .link {
    position: relative;
    margin-left: 5%;
}



.navbar .link a {
    position: relative;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
    position: relative;
    color: #000;
    font-weight: bolder;
    transition: color ease 1s;
}

.navbar .link .border-nav {
    position: relative;
}

.navbar .link .border-nav::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 5px;
    background: var(--second-color);
    border-radius: 5px;
}

.navbar .link a:not(.border-nav)::after {
    content: '';
    position: absolute;
    transform: scale(0);
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 5px;
    background: var(--second-color);
    border-radius: 5px;
    transform-origin: right;
    transition: transform 0.5s;
}

.navbar .link a:hover::after {
    transform-origin: left;
    transform: scale(1);
}

.navbar .button {
    display: flex;
    gap: 30px;
}

.navbar .button .notification,
.navbar .button .account {
    display: flex;
    align-items: center;
}

.navbar .notification img {
    position: relative;
}

.navbar .notification span {
    position: absolute;
    margin-left: -12px;
    margin-top: -5px;
    background: var(--second-color);
    border-radius: 50%;
    min-width: 20px;
    min-height: 20px;
    text-align: center;
    padding: 3px;
    color: #FFF;
}

.navbar .button .account {
    gap: 5px;
    position: relative;
}

.navbar .button img {
    width: 25px;
    height: 25px;
}

.body {
    display: flex;
    margin-top: 60px;
}

.body .content {
    margin-top: 50px;
    margin-left: 300px;
}

.content-menu {
    float: left;
    margin-left: -41px;
}

body {
    margin: 0;
    padding: 0;
}

.avta {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user {
    display: flex;
    align-items: center;
    padding: 10px;
}

.list {
    margin-left: -30px;
}

.a2 {
    display: flex;
    gap: 5px;
    padding-top: 10px;
}

.a1 {
    display: block;
    padding-top: 5px;
    width: 100%;
    padding-left: 20px;
}

.list .active {
    background: #dee2e6;
}

.body .menu-child {
    height: 70%;
    width: 99.61%;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 0px 5px 5px 0px;
    background-color: #fff;
}

.body .menu-child a {
    color: #000;
    text-decoration: none;
}

.menu-checkbox {
    display: none;
}

.body .user li {
    font-weight: 600;
}

.body .user .avta {
    width: 50px;
    height: 50px;
}

.body .user {
    position: absolute;
    display: flex;
    align-items: center;
    list-style: none;
    top: 4.6%;
    right: 28.52%;
    bottom: 86.21%;
    left: 10%;
}

.body .list {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 73.74%;
    width: 100%;
    top: 18.38%;
    bottom: 7.88%;
    gap: 20px;
}

.body .list a {
    text-decoration: none;
    color: black;
}

.body .list p {
    font-weight: 600;
    display: flex;
    margin: 0;
    align-items: center;
}

.body .list p img {
    display: block;
    max-width: 100%;
    overflow: hidden;
    padding-right: 5px;
    margin-top: 3px;
    object-fit: cover;
}

.menu {
    z-index: 9999;
    /* position: fixed; */
    top: 60px;
    height: 450px;
    width: 300px;
    text-align: left;
    font-size: 16px;
    color: #000;
    font-family: Inter;
}

button:hover {
    cursor: pointer;
}

.body .search-box {
    margin-left: 45vw;
    margin-top: 10px;
}

.body .search-box input {
    position: absolute;
    background-color: rgba(217, 217, 217, 0.48);
    width: 25%;
    height: 30px;
    flex-shrink: 0;
    border: none;
    border-radius: 10px;
    padding-left: 40px;
}

.body .search-box button {
    position: relative;
    width: 15px;
    height: 15px;
    left: 10px;
    top: 10px;
    border: none;
}

.body .search-box button img {
    position: absolute;
    left: 0;
    top: -10px;
}

.body .content h1 {
    margin-left: 5%;
}

.body .content .name-kind {
    margin-top: 5%;
    margin-left: 5%;
}

.body .content .name-kind input {
    width: 20px;
    height: 20px;
}

.body .content .name-kind .inf-all {
    min-height: 50vh;
    max-width: 73vw;
}

.body .content .name-kind .kind {
    display: flex;
    gap: 5%;
}

.body .content .name-kind .kind p {
    cursor: pointer;
}

.body .content .name-kind .kind p.selected {
    font-weight: bold;
}

.seperate-child{
    display: flex;
}

.card .card-title{
    margin-top: 5px;
    /* width: 38vw; */
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card p.active {
    color: green;
}

.card p.ban {
    color: red;
}


.card{
    width: 90%;
    margin-left: 5%;
}

.card .img{
    display: flex;
    width: 95%;
    height: 95%;
    padding:2%;
    border-radius: 10px;
}

.card .quatity{
    position: relative;
    width: 20px;
    height: 20px;
    display: flex;
    left: 75%;
    top: -15%;
    gap: 5px;
}

.card-text{
    display: flex;
    align-items: center;
}

.card-text img{
    width: 15px;
    height: 15px;
    margin-top: -20px;
}

.card-text button{
    border: none;
    background: none;
}

.card-text:nth-child(3){
    gap: 70px;
    color: var(--primary-color);
}

.card-text:last-child{
    justify-content: space-between;
}

.card-text:last-child p{
    margin-top: 10px;
}

.card-text i{
    color: red;
}


.body .content .deleteAll {
    background: #F00;
    border-radius: 10px;
    width: 100px;
    height: 40px;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    float: right;
    margin-top: 20px;
    margin-right: 50px;
}

.card .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

@media (max-width: 991.98px) {
    .menu {
        z-index: 100;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        background: none;
        position: fixed;
    }

    .content {
        margin-left: 50px;
    }

    .menu.expanded {
        width: 300px;
        height: 450px;
        left: 0;
        top: 30px;
        background: #dee2e6;
    }

    .menu.expanded .list {
        left: 0;
    }

    .menu.expanded .a2 {
        display: flex;
        gap: 5px;
    }

    .menu.expanded .a1 {
        display: block;
        width: 100%;
        margin-left: -10px;
        padding-left: 40px;
    }

    .menu.expanded .button-nav {
        left: 230px;
    }

    .button-nav {
        top: 11%;
        left: 0;
        position: fixed;
        transition: width 0.3s ease, height 0.3s ease, background 0.3s ease;
    }

    .list {
        margin-left: 10px;
    }

    .a2 {
        margin-left: 10px;
        width: 200px;
        padding: 0;
    }

    .a1 {
        width: 200px;
        margin-left: 30px;
    }

    .user-menu {
        display: none;
    }

    .mat-menu {
        display: block;
    }

    .navbar .link {
        margin-left: 0;
    }

    .navbar .link a {
        display: block;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .navbar .link .border-nav::after,
    .navbar .link a:not(.border-nav)::after {
        bottom: 0;
        width: 150px;
    }

    .navbar .link a:not(.border-nav)::after {
        width: 80px;
    }

    .menu .user {
        margin-top: 70px;
    }

    .menu .list {
        margin-top: 70px;
    }

    .body .content {
        margin-left: 150px;
    }

    .body .user li {
        font-weight: 600;
    }

    .body .user .avta {
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 768px){
    .body .content{
        margin-top: 60px;
        margin-left: 0;
    }

    .body .search-box{
        margin-left: 0;
        padding-left: 20px;
    }

    .body .search-box input{
        width: 50%;
    }
}
