<menu class="navbar navbar-expand-lg navbar-light bg-light menu" [class.expanded]="isMenuExpanded">
    <button class="navbar-toggler button-nav" type="button" (click)="ToggleMenu()" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav mr-auto">
        <a class="user navbar-brand" href="#">
            <img src="public/Avatar.png" class="avta" alt="Avatar"/>
            <span class="ms-2">Admin</span>
        </a>
        <div class="list">
            <li class="a2 nav-item">
                <a class="nav-link" href="#">
                <img src="public/list_register.png" alt="List Register"> Quản lý tin đăng
                </a>
            </li>
            <li class="a1 nav-item">
                <a class="nav-link" href="#">Danh sách bài đăng</a>
            </li>
            <li class="a2 nav-item">
                <a class="nav-link" href="#">
                <img src="public/user.png" alt="User"> Quản lý tài khoản
                </a>
            </li>
            <li class="a1 nav-item">
                <a class="nav-link" href="#">Danh sách duyệt chủ trọ</a>
            </li>
            <li class="a1 nav-item active">
                <a class="nav-link" href="#">Danh sách người dùng</a>
            </li>
        </div>
    </ul>
    </div>
</menu>