*{
    font-size: 16px;
    
    color: black;
    font-weight: 500;
}
button:focus,
input:focus,
a:focus {
  outline: none !important;
  box-shadow: none !important;
}

body {
    margin: 0;
    line-height: normal;
}
span {
    font-size: 20px;
    font-weight: 700;
}

.form{
    position: relative;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: #fff;
    
    width: 75%;
    display: flex;
    padding: 20px;
    margin: 20px auto; /* cacnhs căn giữa chuẩn*/
    height: auto;
}
sup{
    font-size: 12px;
}
p {
    
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 0;
}
.post_img p {
    font-size: 14px;
    font-weight: 100;
    color: rgba(135, 135, 135, 1);
    

}
.classify .nav {
    display: flex;
    margin-top: 10px;
    gap: 20px;
  }
  
  .classify .nav-link {
    cursor: pointer;
  }
  
  .classify .nav-link.active {
    border-bottom: 3px solid rgba(85, 179, 217, 1);
    
  }
  
  .classify .nav-link:hover {
    border-bottom: 3px solid rgba(85, 179, 217, 1);
    color: rgba(85, 179, 217, 1);
    
    
  }
  hr {
    margin: 0;
    margin-bottom: 20px;
  }
  .img1 {
    
    font-size: 100px;
    color: rgba(135, 135, 135, 1);

  }
  .post_img {
    position: relative;
    display: flex;
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
  }
  #line2 {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .note {
    margin-top: 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 100;
    color: rgba(116, 198, 219, 1) ;
  }
.btn_submit {
    display: flex;
    justify-content: right;
    width: 100%;
    margin: 20px 0px auto;
    height: 40px;
    font-weight: 600;

    }
.btn_submit button{
    color: #fff;
    background-color: rgba(85, 179, 217, 1);
    border: none;
    border-radius: 10px;
    font-weight: 600;

}